{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<h2>{{ pagename }}</h2>
<div class="panel panel-default">
  <!-- Default panel contents -->
  	<div class="panel-heading">
  	<!-- Table -->
		<table>
		<tr>	
			<td><button type="button" class="btn btn-primary" onclick="history.back();">Atras</button></td>
			<td><a href="/agendaalta"><button type="button" class="btn btn-success">Agregar Nuevo</button></a></td>
			<td><button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Ayuda</button></td>
		</tr>	
		</table>
	</div>
	<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title" id="myModalLabel">{{ ayuda.titulo }}</h4>
		      </div>
		      <div class="modal-body">
		        {{ ayuda.texto }}
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
		      </div>
		    </div>
		  </div>
		</div>
	<!-- Fin Modal -->
	<div class="row">
		<div class="col-xs-12">
			<table class="table table-striped">
		  		<thead>
		  			<tr> 
						<th>Fecha</th>
						<th>Hora</th>
						<th>Descripcion Corta</th>
						<th>Hecho</th>
						<th colspan="2">Opciones</th>
					</tr>
		  		</thead>
		  		<tbody>
		  			{% for a in agenda %}
						<tr>
							<td>{{ a.fechaf }}</td>
							<td>{{ a.horaf }}</td>
							<td><p title="{{ a.descripcion_larga }}">{{ a.descripcion_corta }}</p></td>
							<td>
								{% if a.hecho == '1' %}
									<input type="checkbox" id="hecho" name="hecho" class="chk" checked data-id="{{ a.id }}">
								{% else %}
									<input type="checkbox" id="hecho" name="hecho" class="chk" data-id="{{ a.id }}">
								{% endif %}</td>
							<td><a href="/agendamodificar/{{ a.id }}"><button class="btn btn-warning">Modificar</button></a></td>
							<td><a href='/agendaborrar/{{ a.id }}' onclick="if (!confirm('¿Seguro desea eliminar?')) return false;"><button type="button" class="btn btn-danger">Eliminar</button><a/></td>
							<!-- <td><button class="btn btn-default">Hecho!</button></td> -->
						</tr>
					{% endfor %}
		  		</tbody>
			</table>				
		</div><!--div col xs12 -->
	</div><!--div row -->
</div>
<script src="/js/jquery.min.js"></script>
<script type="text/javascript">
	$(function() {
		$(".chk").change(function(){
			var id = $(this).data("id");
			if(this.checked) {
				$.getJSON("/agendaupdatehecho/"+id+"/1", function (msj){
					console.log(msj)
					// alert(msj[0])
				});
			}else{
				$.getJSON("/agendaupdatehecho/"+id+"/0", function (msj){
					console.log(msj)
					// alert(msj)
				});
			}
			// var chk = $("#hecho").val();
			// var id = $("#hecho").data("id");
			// if(chk == checked){
			// 	$.getJSON("/agendaupdatehecho/"+id+"/1", function (msj){
			// 		alert(msj)
			// 	});
			// }else{
			// 	$.getJSON("/agendaupdatehecho/"+id+"/0", function (msj){
			// 		alert(msj)
			// 	});
			// }
		});
	});
</script>
{% endblock %}