{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<link href="/css/articulosmodificar.css" rel="stylesheet">	
<h2>{{ pagename }}</h2>
<div class="panel panel-default">
	<form method="POST" action="/articulosmodificar">
		<table align="center" class="table table-striped">
			<tr>
				<td>ID Articulo: </td>
				<td><input type="text" id="id" name="id" value="{{ art.id }}" readonly="readonly"></td>
			</tr>	
			<tr>
				<td>Codigo de Fabrica:</td>
				<td><input type="text" id="cdfabrica" name="cdfabrica" value="{{ art.Cdfabrica }}" required></td>
			</tr>
			<tr>
				<td>Codigo Interno:</td>
				<td><input type="text" id="cdinterno" name="cdinterno" value="{{ art.CdInterno }}" required></td>
			</tr>
			<tr>
				<td>Nombre:</td>
				<td><input type="text" id="nombre" name="nombre" value="{{ art.Nombre }}" required></td>
			</tr>	
			<tr>
				<td>Descripcion: </td>
				<td><input type="text" id="descripcion" name="descripcion" value="{{ art.Descrip }}" ></td>
			</tr>
			<tr>
				<td>Familia:</td>
				<td>
					<select class="form-control" id="familia" name="familia">
					{% for familia in familias %}
						{% if familia.id == art.IdFamilia %}
							<option value="{{ familia.id }}" selected>{{ familia.nombre }}</option>
						{% else %}
							<option value="{{ familia.id }}">{{ familia.nombre }}</option>
						{% endif %}
					{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td>Tipo:</td>
				<td>
					<select class="form-control" id="tipo" name="tipo">
					{% for tipo in tipos %}
						{% if tipo.id == art.Idtipo %}
							<option value="{{ tipo.id }}" selected>{{ tipo.descripcion }}</option>
						{% else %}
							<option value="{{ tipo.id }}">{{ tipo.descripcion }}</option>
						{% endif %}
					{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td>Unidad de Medida:</td>
				<td>
					<select class="form-control" id="umed" name="umed">
					{% for umed in umeds %}
						{% if umed.id == art.IdUmed %}
							<option value="{{ umed.id }}" selected>{{ umed.nombre }}</option>
						{% else %}
							<option value="{{ umed.id }}">{{ umed.nombre }}</option>
						{% endif %}
					{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td>Costo: </td>
				<td><input type="text" id="costo" name="costo" value="{{ art.Costo }}" ></td>
			</tr>
			<tr>	
				<td>Iva:</td>
				<td><input type="text" id="iva" name="iva" value="{{ art.Iva }}" ></td>
			</tr>
			<tr>
				<td>Mueve Stock</td>
				{% if art.Muevest == 1 %}
					<td><input type="checkbox" name="muevestock" checked></td>
				{% else %}
					<td><input type="checkbox" name="muevestock"></td>
				{% endif %}
			</tr>
			<tr>
				<td>Stock 1:</td>
				<td><input type="text" id="stock1" name="stock1" value="{{ art.Stock1 }}" ></td>
			</tr>
			<!--<tr>
				<td>Stock 2:</td>
				<td><input type="text" id="stock2" name="stock2" value="{{ art.Stock2 }}" ></td>
			</tr>
			<tr>
				<td>Stock 3:</td>
				<td><input type="text" id="stock3" name="stock3" value="{{ art.Stock3 }}" ></td>
			</tr>
			<tr>
				<td>Stock 4:</td>
				<td><input type="text" id="stock4" name="stock4" value="{{ art.Stock4 }}" ></td>
			</tr>-->
			<tr>
				<td>Minimo:</td>
				<td><input type="text" id="minimo" name="minimo" value="{{ art.Minimo }}" ></td>
			</tr>
			<tr>
				<td>Maximo:</td>
				<td><input type="text" id="maximo" name="maximo" value="{{ art.Maximo }}" ></td>
			</tr>
			<tr>
				<td>Activo:</td>
				{% if art.Activa== 1 %}
					<td><input type="checkbox" name="activa" checked></td>
				{% else %}
					<td><input type="checkbox" name="activa"></td>
				{% endif %}	
			</tr>
			<tr>
				<td><input type="button" value="Atras" onclick="history.back()"></td>
				<td><input type="submit" value="Guardar"></td>
			</tr>
		</table>
	</form>
</div>
	<script src="/js/jquery.min.js"></script>
	<script type="text/javascript">
	</script>
{% endblock %}