{% extends 'template.html' %}

{% block title %}
	{{ pagename }} <b>{{art.Nombre}}</b>
{% endblock %}

{% block content %}
<link href="/css/articulosver.css" rel="stylesheet">	
<h2>{{ pagename }}</h2>
<div class="panel panel-default">
	<table align="center" class="table table-striped">
		<tr>
			<td>ID Articulo: </td>
			<td><input type="text" id="id" name="id" value="{{ art.id }}" readonly></td>
		</tr>	
		<tr>
			<td>Codigo de Fabrica:</td>
			<td><input type="text" id="cdfabrica" name="cdfabrica" value="{{ art.Cdfabrica }}" readonly></td>
		</tr>
		<tr>
			<td>Codigo Interno:</td>
			<td><input type="text" id="cdinterno" name="cdinterno" value="{{ art.CdInterno }}" readonly></td>
		</tr>
		<tr>
			<td>Nombre:</td>
			<td><input type="text" id="nombre" name="nombre" value="{{ art.Nombre }}" readonly></td>
		</tr>	
		<tr>
			<td>Descripcion: </td>
			<td><textarea id="descripcion" name="descripcion" rows="5" cols="40" readonly>{{ art.Descrip }}</textarea></td>
		</tr>
		<tr>
			<td>Familia:</td>
			<td><input type="text" id="familia" name="familia" value="{{ art.fnombre }}" readonly></td>
		</tr>
		<tr>
			<td>Tipo:</td>
			<td><input type="text" id="tipo" name="tipo" value="{{ art.ardescripcion }}" readonly></td>
		</tr>
		<tr>
			<td>Unidad de Medida:</td>
			<td><input type="text" id="umed" name="umed" value="{{ art.unombre }}" readonly></td>
		</tr>
		<tr>
			<td>Costo: </td>
			<td><input type="text" id="costo" name="costo" value="{{ art.Costo }}" readonly></td>
		</tr>
		<tr>	
			<td>Iva:</td>
			<td><input type="text" id="iva" name="iva" value="{{ art.Iva }}" readonly></td>
		</tr>
		<tr>
			<td>Mueve Stock</td>
			{% if art.Muevest == 1 %}
				<td>Si</td>
			{% else %}
				<td>No</td>
			{% endif %}
		</tr>
		<tr>
			<td>Stock 1:</td>
			<td><input type="text" id="stock1" name="stock1" value="{{ art.Stock1 }}" readonly></td>
		</tr>
		<tr>
			<td>Stock 2:</td>
			<td><input type="text" id="stock2" name="stock2" value="{{ art.Stock2 }}" readonly></td>
		</tr>
		<tr>
			<td>Stock 3:</td>
			<td><input type="text" id="stock3" name="stock3" value="{{ art.Stock3 }}" readonly></td>
		</tr>
		<tr>
			<td>Stock 4:</td>
			<td><input type="text" id="stock4" name="stock4" value="{{ art.Stock4 }}" readonly></td>
		</tr>
		<tr>
			<td>Minimo:</td>
			<td><input type="text" id="minimo" name="minimo" value="{{ art.Minimo }}" readonly></td>
		</tr>
		<tr>
			<td>Maximo:</td>
			<td><input type="text" id="maximo" name="maximo" value="{{ art.Maximo }}" readonly></td>
		</tr>
		<tr>
			<td>Activo:</td>
			{% if art.Activa== 1 %}
				<td>Si</td>
			{% else %}
				<td>No</td>
			{% endif %}	
		</tr>
		<tr>
			<td><input type="button" value="Atras" onclick="history.back()"></td>
			<td></td>
		</tr>
	</table>
</div>
	<script src="/js/jquery.min.js"></script>
	<script type="text/javascript">
	</script>
{% endblock %}