{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<link href="/css/articulosalta.css" rel="stylesheet">
<img src="/uploads/partes.png">
<h2>{{ pagename }}</h2>
<div class="panel panel-default">
  <!-- Default panel contents -->
  	<div class="panel-heading">
		<table>
		<tr>
			<td><a href="/inicio"> <button type="button" class="btn btn-primary">Atras</button></a></td>
			<td><button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Ayuda</button></td>
		</tr>
		</table>
	</div> <!-- Cierre de panel heading -->
	<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title" id="myModalLabel">{{ ayuda.titulo }}</h4>
		      </div>
		      <div class="modal-body">
		        {{ ayuda.texto }}
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
		      </div>
		    </div>
		  </div>
		</div>
	<form method="post" id="formalta" action="/articulosalta">
		<table align="center" class="table table-striped">
			<tr>
				<td style="width: 450px">Nombre:</td>
				<td><input type="text" id="nombre" name="nombre" required class="form-control"><div class="aviso">Quedan <span id="charsLeftNombre"></span> caraceteres.</div></td>
			</tr>
			<tr>
				<td>Codigo Interno:<br><small>(Codigo de Barra: Para una lectura más rápida<br>se recomienda usar como máximo 6 dígitos)</small></td>
				<td><input type="text" id="cdinterno" name="cdinterno" class="form-control" required onKeyPress="return soloNumeros(event)"><div class="aviso">Quedan <span id="charsLeftCdinterno"></span> caraceteres.</div></td>
			</tr>
			<tr>
				<td>Codigo de Fabrica:</td>
				<td><input type="text" id="cdfabrica" name="cdfabrica" required class="form-control"></td>
			</tr>
			<tr>
				<td>Descripcion:</td>
				<td><input type="text" id="descripcion" name="descripcion" required class="form-control"><div class="aviso">Quedan <span id="charsLeftDescripcion"></span> caraceteres.</div></td>
			</tr>
			<tr>
				<td>Familia:</td>
				<td>
					<select class="form-control" id="familia" name="familia">
					{% for familia in familias %}
						<option value="{{ familia.id }}">{{ familia.nombre }}</option>
					{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td>Tipo:</td>
				<td>
					<select class="form-control" id="tipo" name="tipo">
					{% for tipo in tipos %}
						<option value="{{ tipo.id }}">{{ tipo.descripcion }}</option>
					{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td>Unidad de Medida:</td>
				<td>
					<select class="form-control" id="umed" name="umed">
					{% for umed in umeds %}
						<option value="{{ umed.id }}">{{ umed.nombre }}</option>
					{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td>Costo:</td>
				<td><input type="text" id="costo" name="costo" required onkeypress="return Numy1Punto(event, this)" class="form-control"></td>
			</tr>
			<tr>
				<td>Iva %:</td>
				<td><input type="text" id="iva" name="iva" required onkeypress="return Numy1Punto(event, this)" class="form-control"></td>
			</tr>
			<tr>
				<td>Mueve stock:</td>
				<td><input type="checkbox" id="muevest" name="muevest" checked></td>
			</tr>
			<tr>
				<td>Stock:</td>
				<td><input type="text" id="stock1" name="stock1" required onkeypress="return Numy1Punto(event, this)" class="form-control"></td>
			</tr>
			<!--<tr>
				<td>Stock 2:</td>
				<td><input type="text" id="stock2" name="stock2" required onkeypress="return Numy1Punto(event, this)" class="form-control"></td>
			</tr>
			<tr>
				<td>Stock 3:</td>
				<td><input type="text" id="stock3" name="stock3" required onkeypress="return Numy1Punto(event, this)" class="form-control"></td>
			</tr>
			<tr>
				<td>Stock 4:</td>
				<td><input type="text" id="stock4" name="stock4" required onkeypress="return Numy1Punto(event, this)" class="form-control"></td>
			</tr>-->
			<tr>
				<td>Minimo:</td>
				<td><input type="text" id="minimo" name="minimo" required onKeyPress="return soloNumeros(event)" class="form-control"></td>
			</tr>
			<tr>
				<td>Maximo:</td>
				<td><input type="text" id="maximo" name="maximo" required onKeyPress="return soloNumeros(event)" class="form-control"></td>
			</tr>
			<tr>
				<td>Enviar a Lista de Impresion?:</td>
				<td><input type="checkbox" name="print" id="print"></td>
			</tr>
			<tr>
				<td><input type="button" value="Atras" onclick="history.back()"></td>
				<td><input type="submit" value="Agregar"></td>
			</tr>
		</table>
	</form>
</div> <!-- Cierre de panel panel default -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.limit-1.2.js"></script>
<script type="text/javascript">
// Solo permite ingresar numeros.
	$('#nombre').limit('50','#charsLeftNombre');
	$('#cdinterno').limit('13','#charsLeftCdinterno');
	$('#descripcion').limit('400','#charsLeftDescripcion');
	function soloNumeros(e){
		var key = window.Event ? e.which : e.keyCode
		return (key >= 48 && key <= 57)
	}
	function Numy1Punto(e, field) {
	  key = e.keyCode ? e.keyCode : e.which
	  // backspace
	  if (key == 8) return true
	  // 0-9
	  if (key > 47 && key < 58) {
	    if (field.value == "") return true
	    regexp = /.[0-9]{2}$/
	    return !(regexp.test(field.value))
	  }
	  // .
	  if (key == 46) {
	    if (field.value == "") return false
	    regexp = /^[0-9]+$/
	    return regexp.test(field.value)
	  }
	  // other key
	  return false
	}
	//onkeypress="return Numy1Punto(event, this)"
	$('#iva').val('21.00');
</script>


{% endblock %}