{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<h2>{{ pagename }}</h2><b>{{ chk1.nombre }}</b>
<div class="panel panel-default">
  <!-- Default panel contents -->
  	<div class="panel-heading">
  	<!-- Table -->
		<table>
		<tr>	
			<td><a href="/chk1lista"> <button type="button" class="btn btn-primary">Atras</button></a></td>
			<td><a href="/chk2alta/{{ chk1.id }}"><button type="button" class="btn btn-success">Agregar Nuevo</button></a></td>
		</tr>	
		</table>
	</div>
	<div class="row">
		<div class="col-xs-12">
				<table class="table table-striped">
			  		<thead>
			  			<tr> 
							<th>ID</th>
							<!-- <th>Tipo checklist 1</th> -->
							<th>Detalle</th>
							<th>Orden</th>
							<th>Titulo</th>
						</tr>
			  		</thead>
			  		<tbody>
			  			{% for chk2 in chk2s %}
							<tr>
								<td>{{ chk2.id }}</td>
								<!-- <td>{{ chk2.chk1 }}</td> -->
								<td>{{ chk2.detalle }}</td>
								<td>{{ chk2.orden }}</td>
								{% if chk2.titulo == 1 %}
									<td>Si</td>
								{% else %}
									<td>No</td>
								{% endif %}
								<td><a href="/chk2modificar/{{ chk2.id }}"><button class="btn btn-warning">Modificar</button></a></td>
								<td><a href='/chk2borrar/{{ chk2.id }}' onclick="if (!confirm('¿Seguro desea eliminar?')) return false;"><button type="button" class="btn btn-danger">Eliminar</button><a/></td>
							</tr>
							{% endfor %}
			  		</tbody>
				  </table>				
		</div><!--div col xs12 -->
	</div><!--div row -->

</div>

{% endblock %}