{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}	
        <!-- Main jumbotron for a primary marketing message or call to action -->
    <!-- <div class="jumbotron"> -->
        <div class="ui container grid stackable" style="margin-top:80px;">
            <div class="sixteen wide column">
                <h1 class="ui dividing blue header">Lista de Choferes</h1>
                <table class="ui table celled">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre Completo</th>
                            <th>DNI</th>
                            <th>Sexo</th>
                            <th>Tractor</th>
                            <th>Semi</th>
                            <th>Actividad</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>id</td>
                            <td>nombre completo</td>
                            <td>dni</td>
                            <td>sexo</td>
                            <td>tractor</td>
                            <td>semi</td>
                            <td>actividad</td>
                        </tr>
                    </tbody>
                </table>
            </div>    
        </div>
    <!-- </div> -->
    <div class="ui container">
        <main>  
        <!-- Example row of columns -->
        </main> 
    </div>    
{% endblock %}