{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<link href="/css/clasificacionmodificar.css" rel="stylesheet">	
<h2>{{ pagename }}</h2>
<div class="panel panel-default">
	<form method="POST" action="/clasificacionmodificar">
		<table align="center" class="table table-striped">
			<input hidden id="id" name="id" value="{{ clasificacion.id }}">	
			<tr>
				<td>Nombre:</td>
				<td><input type="text" id="nombre" name="nombre" value="{{ clasificacion.nombre }}" required class="form-control"></td>
			</tr>	
			<tr>
				<td>Activo:</td>
				{% if clasificacion.activa == 1 %}
					<td><input type="checkbox" name="activa" checked></td>
				{% else %}
					<td><input type="checkbox" name="activa"></td>
				{% endif %}	
			</tr>
			<tr>
				<td><input type="button" value="Atras" onclick="history.back()"></td>
				<td><input type="submit" value="Guardar"></td>
			</tr>
		</table>
	</form>
</div>
<script src="/js/jquery.min.js"></script>
<script type="text/javascript">
</script>
{% endblock %}