{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<link href="/css/codigohoraalta.css" rel="stylesheet">
<h2>{{ pagename }}</h2>
<div class="panel panel-default">
	<form method="post" id="formalta" action="/codigohoraalta">
		<table align="center" class="table table-striped">
			<tr>
				<td>Numero:</td>
				<td><input type="text" id="numero" name="numero" required class="form-control"></td>
			</tr>
			<tr>
				<td>Nombre:</td>
				<td><input type="text" id="nombre" name="nombre" required class="form-control"></td>
			</tr>
			<tr>
				<td><input type="button" value="Atras" onclick="history.back()"></td>
				<td><input type="submit" value="Agregar"></td>
			</tr>
		</table>
	</form>
</div>
<script src="/js/jquery.min.js"></script>
<script type="text/javascript">
</script>

{% endblock %}