{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<link href="/css/emplemodificar.css" rel="stylesheet">		
<h2>{{ pagename }}</h2>
<div class="panel panel-default">
	<form method="POST" action="/emplemodificar">
		<table align="center" class="table table-striped">
			<tr>
				<td>Codigo: </td>
				<td><input type="text" id="codigo" name="codigo" value="{{ emple.codigo }}" readonly class="form-control"></td>
			</tr>	
			<tr>
				<td>Tarjeta: </td>
				<td><input type="text" id="tarjeta" name="tarjeta" value="{{ emple.tarjeta }}" class="form-control" onKeyPress="return soloNumeros(event)"></td>
			</tr>	
			<tr>
				<td>Nombre:</td>
				<td><input type="text" id="nombre" name="nombre" value="{{ emple.nombre }}" class="form-control"><div class="aviso">Quedan <span id="charsLeftNombre"></span> caraceteres.</div></td>
			</tr>
			<tr>
				<td>Fecha de alta:</td>
				<td><input type="text" id="falta" name="falta" class="form-control datepicker" readonly value="{{ emple.falta|date('d/m/Y') }}"></td>
			</tr>
			<tr>
				<td>Fecha de baja:</td>
				<td><input type="text" id="fbaja" name="fbaja" class="form-control datepicker" readonly value="{{ emple.fbaja|date('d/m/Y') }}"></td>
			</tr>
			<tr>
				<td>Cargo:</td>
				<td>
					<select class="form-control" id="cargo" name="cargo">
					{% for cargo in cargos %}
						{% if emple.cargo == cargo.id %}
      						<option value="{{ cargo.id }}" selected> {{ cargo.descripcion }}</option>
   						{% else %}
      						<option value="{{ cargo.id }}">{{ cargo.descripcion }}</option>
      					{% endif %}
					{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td>Sector Usual:</td>
				<td>
					<select name="sector" id="sector" class="form-control">
						{% for s in sectores %}
							{% if emple.id_sector_fk == s.id %}
								<option selected value="{{ s.id }}">{{ s.nombre }}</option>
							{% else %}
								<option value="{{ s.id }}">{{ s.nombre }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td>Activo:</td>
				{% if emple.activa== 1 %}
					<td><input type="checkbox" name="activa" checked></td>
				{% else %}
					<td><input type="checkbox" name="activa"></td>
				{% endif %}	
			</tr>
			<tr>
				<td>Legajo:</td>
				<td><input type="text" id="legajo" name="legajo" value="{{ emple.legajo }}" class="form-control"></td>
			</tr>
			<tr>
				<td>CUIL:</td>
				<td><input type="text" id="cuil" name="cuil" value="{{ emple.cuil }}" class="form-control"><div class="aviso">Quedan <span id="charsLeftCuil"></span> caraceteres.</div></td>
			</tr>
			<tr>
				<td>Fecha de Nacimiento:</td>
				<td><input type="text" id="fnac" name="fnac" class="form-control datepicker" readonly value="{{ emple.fecha_nac|date('d/m/Y') }}"></td>
			</tr>
			<tr>
				<td>Sexo:</td>
				{% if emple.sexo == 0 %}
				<td>
					<input type="radio" id="sexo" name="sexo" value="masculino" checked> Masculino
						<br>
					<input type="radio" id="sexo" name="sexo" value="femenino" unchecked> Femenino
				</td>
				{% else %}
				<td>
					<input type="radio" id="sexo" name="sexo" value="masculino" unchecked> Masculino
						<br>
					<input type="radio" id="sexo" name="sexo" value="femenino" checked required> Femenino
				</td>
				{% endif %}
			</tr>
			<tr>
				<td>Domicilio:</td>
				<td><input type="text" id="domicilio" name="domicilio" value="{{ emple.domicilio }}" class="form-control"></td>
			</tr>
			<tr>
				<td>Codigo Postal:</td>
				<td><input type="text" id="cp" name="cp" value="{{ emple.cp }}" class="form-control"></td>
			</tr>
			<tr>
				<td>Telefono:</td>
				<td><input type="text" id="telefono" name="telefono" value="{{ emple.tel }}" class="form-control"></td>
			</tr>
			<tr>
				<td><input type="button" value="Atras" onclick="history.back()"></td>
				<td><input type="submit" value="Guardar"></td>
			</tr>
		</table>
	</form>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>
<script src="/js/jquery.limit-1.2.js"></script>
<script type="text/javascript">
	$('#nombre').limit('30','#charsLeftNombre');
	$('#cuil').limit('13','#charsLeftCuil');
		$('.datepicker').datepicker({
			format: 'dd/mm/yyyy',
			autoclose: true,
			language: 'es'
		})
	</script>
{% endblock %}