{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<link href="/css/emplelista.css" rel="stylesheet">
<img src="/uploads/empleados.png">
<h2>{{ pagename }}</h2>
<div class="panel panel-default">
  <!-- Default panel contents -->
  	<div class="panel-heading">
  	<!-- Table -->
		<table>
			<tr>
				<td>
					<div class="btn-group" role="group" aria-label="...">
						<button type="button" id="btnAtras" class="btn btn-primary">Atras</button></a>
						<button type="button" id="btnAgregarNuevo" class="btn btn-success">Agregar Nuevo</button>
						<button type="button" id="btnListaDeCargos" class="btn btn-default">Lista de Cargos</button>
						<button type="button" id="btnAyuda" class="btn btn-default" data-toggle="modal" data-target="#myModal">Ayuda</button>
						<button type="button" id="btnSave" class="btn btn-default"><span class="glyphicon glyphicon-save"></span></button>
					</div>
				</td>
			</tr>	
		</table>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  	<div class="modal-dialog">
	    	<div class="modal-content">
	      		<div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        		<h4 class="modal-title" id="myModalLabel">{{ ayuda.titulo }}</h4>
	      		</div>
	      		<div class="modal-body">
	        		{{ ayuda.texto }}
	      		</div>
	      		<div class="modal-footer">
	        		<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
	      		</div>
	    	</div>
	  	</div>
	</div>
	<b>{{ length }}</b> Registros
	<div class="row" >
		<div class="col-xs-12">
			<div id="mainHolder" style="overflow: scroll; max-height: 400px;">
				<table class="table table-hover table-striped">
					<theader>
		  				<th colspan="3">Opciones</th>
		  				<th>Codigo</th>
						<th>Legajo</th>
						<th>Tarjeta</th>
						<th><div style="width: 250px">Nombre</div></th>
						<th><div style="width: 150px">Sector</div></th>
						<th>Turno</th>
						<th>Condicion</th>					
						<th>Cargo</th>								
						<th><div style="width: 100px">Categoria</div></th>						
						<th><div style="width: 200px">Contrato</div></th>
						<th><div style="width: 100px">CUIL</div></th>
						<th><div style="width: 430px">Domicilio</div></th>
						<th>C.P.</th>
						<th><div style="width: 250px">Telefono</div></th>
						<th>Fecha Nac.</th>
						<th>Fecha Alta</th>
						<th>Fecha Baja</th>	
						<th>Sexo</th>
						<th>Activo</th>
					</theader>
			  		<tbody>
			  			{% for emple in empleados %}
							<tr>
								<td><a href="/emplever/{{ emple.codigo }}"><button class="btn btn-primary btn-xs" title="Ver"><span class="glyphicon glyphicon-search"></span></button></a></td>
								<td><a href="/emplemodificar/{{ emple.codigo }}"><button class="btn btn-warning btn-xs" title="Modificar"><span class="glyphicon glyphicon-edit"></span></button></a></td>
								<td><a href='/empleborrar/{{ emple.codigo }}' onclick="if (!confirm('¿Seguro desea eliminar?')) return false;"><button type="button" class="btn btn-danger btn-xs" title="Eliminar"><span class="glyphicon glyphicon-trash"></span></button><a/></td>
								<td>{{ emple.codigo }}</td>
								<td>{{ emple.legajo }}</td>
								<td>{{ emple.tarjeta }}</td>
								<td><div style="width: 250px">{{ emple.nombre }}</div></td>
								<td><div style="width: 150px">
									{% if emple.sectortxt != null %}
										{{ emple.sectortxt }}
									{% endif %}
								</div></td>
								<td>
									{% if emple.id_turno_fk != 0 %}
										{{ emple.turnotxt }}
									{% endif %}
								</td>
								<td>{% if emple.id_condicion_fk != 0 %}
										{{ emple.condiciontxt }}
									{% endif %}
								</td>
								<td>
									{% if emple.cargo != 0 %}
										{{ emple.cargotxt }}
									{% endif %}
								</td>
								<td><div style="width: 100px">
									{% if emple.id_categoria_fk != 0 %}
										{{ emple.categoriatxt }}
									{% endif %}
								</div></td>
								<td><div style="width: 200px">
									{% if emple.id_contrato_fk != 0 %}
										{{ emple.contratotxt }}
									{% endif %}
								</div></td>
								<td><div style="width: 100px">{{ emple.cuil }}</div></td>
								<td><div style="width: 430px">
									{% if emple.domicilio != 0 || emple.domicilio != "" %}
										{{ emple.domicilio }}
									{% endif %}
								</div></td>
								<td>
									{% if emple.cp != 0 || emple.cp != "" %}
										{{ emple.cp }}
									{% endif %}
								</td>
								<td><div style="width: 250px">
									{% if emple.tel != 0 || emple.tel != "" %}
										{{ emple.tel }}
									{% endif %}
								</div></td>
								<td>
									{% if emple.fecha_nac != "0000-00-00" %}
										{{ emple.fecha_nacf }}
									{% endif %}
								</td>
								<td>{{ emple.faltaf }}</td>
								<!-- //ESTO DE LAS FECHAS HAY QUE CAMBIARLO PARA QUE VENGAN FORMATEADAS DESDE EL SQL  -->
								<td>{% if emple.fbaja != "0000-00-00" %}
										{{ emple.fbajaf }}
									{% endif %}
								</td>
								{% if emple.sexo == 0 %}
									<td><span>Masculino</span></td>
								{% else %}
									<td><span>Femenino</span></td>
								{% endif %}
								{% if emple.activa == 1 %}
									<td><span>Activo</span></td>
								{% else %}
									<td><span>No activo</span></td>
								{% endif %}
							</tr>
						{% endfor %}
			  		</tbody>
				</table>
			</div><!--div holder-->
		</div>
	</div>
</div>
<script type="text/javascript" src="/js/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/jQueryDoubleScroll.js"></script>
<script type="text/javascript">
	$("#btnAtras").click(function (){
	    var url = "/inicio";
		window.location = url;
	});
	
	$("#btnAgregarNuevo").click(function (){
		var url = "/emplealta";
		window.location = url;
	});

	$("#btnListaDeCargos").click(function (){
		var url = "/cargoslista";
		window.location = url;
	});

	$("#btnSave").click(function (){
		var url = "/emplesexport";
		window.location = url;
	});

	//cod para filtrar turnos por sector
	// $("#cmbSector").change(function (){
	// 	idsector = $("#cmbSector").val();
	// 	$.getJSON('/traerturnosporsector/'+idsector, function (data){
	// 		console.log(data);

	// 		$('#tbodyprogramacioneslisto > tr').remove();
	// 		var template = $('#tablaprogramaciones').html();
	// 		Mustache.tags =['[[',']]'];
	// 		var html = Mustache.to_html(template, data);
	// 		//console.log(html);
	// 		$('#tbodyprogramacioneslisto').html(html);
	// 	});
	// });
</script>
{% endblock %}