{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<link href="/css/emplever.css" rel="stylesheet">	
<h2>{{ pagename }}</h2>
<div class="panel panel-default">
	<table align="center" class="table table-striped">
		<tr>
			<td>ID:</td>
			<td>{{ emple.codigo }}</td>
		</tr>
		<tr>
			<td>Tarjeta:</td>
			<td>{{ emple.tarjeta }}</td>
		</tr>
		<tr>
			<td>Nombre:</td>
			<td>{{ emple.nombre }}</td>
		</tr>
		<tr>
			<td>Fecha de Alta:</td>
			<td>{{ emple.falta|date('d/m/Y') }}</td>
		</tr>
		<tr>
			<td>Fecha de Baja:</td>
			<td>{{ emple.fbaja|date('d/m/Y') }}</td>
		</tr>	
		<tr>
			<td>Cargo:</td>
			<td>{{ emple.cargo_descripcion }}</td>
		</tr>
		<tr>
			<td>Sector Usual:</td>
			<td>
				{% if emple.sectortxt != null %}
					{{ emple.sectortxt }}
				{% else %}
					n/c
				{% endif %}
			</td>
		</tr>
		<tr>
			<td>Legajo:</td>
			<td>{{ emple.legajo }}</td>
		</tr>
		<tr>
			<td>CUIL:</td>
			<td>{{ emple.cuil }}</td>
		</tr>
		<tr>
			<td>Fecha de Nacimiento:</td>
			<td>{{ emple.fecha_nac|date('d/m/Y') }}</td>
		</tr>
		<tr>
			<td>Sexo:</td>
			{% if emple.sexo == 0 %}
				<td>Masculino</td>
			{% else %}
				<td>Femenino</td>
			{% endif %}	
		</tr>
		<tr>
			<td>Domicilio: </td>
			<td>{{ emple.domicilio }}</td>
		</tr>
		<tr>	
			<td>Codigo Postal:</td>
			<td>{{ emple.cp }}</td>
		</tr>
		<tr>
			<td>Telefono:</td>
			<td>{{ emple.tel }}</td>
		</tr>
		<tr>
			<td>Activo:</td>
			{% if emple.activa== 1 %}
				<td>Si</td>
			{% else %}
				<td>No</td>
			{% endif %}	
		</tr>
		<tr>
			<td><input type="button" value="Atras" onclick="history.back()"></td>
			<td></td>
		</tr>
	</table>
</div>
	<script src="/js/jquery.min.js"></script>
	<script type="text/javascript">
	</script>
{% endblock %}