{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<link href="/css/emplefiltro.css" rel="stylesheet">
<h2>{{ pagename }}</h2>
<div class="panel panel-default">
	<form method="post" id="formalta" action="/emplefiltro">
		<table align="center" class="table table-striped">
			<tr>
				<td>Por Condicion:</td>
				<td><select id="cmbCondicion" name="cmbCondicion" class="form-control">
						<option value="0" selected>Sin Condicion</option>
						{% for c in condiciones %}
							<option value="{{ c.id }}">{{ c.nombre }}</option>
						{% endfor %}
					</select>
				</td>
			<tr>
				<td>Por Sector:</td>
				<td>
					<select id="cmbSector" name="cmbSector" class="form-control">
						{% for s in sectores %}
							{% if s.id == 7 %}
								<option value="{{ s.id }}" selected>{{ s.nombre }}</option>
							{% else %}
								<option value="{{ s.id }}">{{ s.nombre }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td colspan="2">Proxima versión:</td>
			</tr>
			<tr>
				<td>Por Turno:</td>
				<td>
					<select id="cmbTurno" class="form-control" disabled>
						<option value="0" selected>Sin Turno</option>
						{% for t in turnos %}
							<option value="{{ t.codigo }}">{{ t.codigo }}</option>
						{% endfor %}
					</select>
				</td>
			<tr>
				<td>Por Nro de Legajo:</td>
				<td>
					<input type="text" id="legajomenor" name="legajomenor" class="form-control" readonly> a 
					<input type="text" id="legajomayor" name="legajomayor" class="form-control" readonly>
				</td>
			</tr>
			<tr>
				<td colspan="2"><button type="submit">Ver Lista Filtrada</button></td>
			</tr>
		</table>
	</form>
</div>
<script src="/js/jquery.min.js"></script>
<script type="text/javascript">
</script>

{% endblock %}