{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<div class="ui grid">
    <div class="left floated left aligned ten wide column">
        <h1 class="ui dividing blue header">{{ pagename }}</h1>
    </div>
    <div class="right floated right aligned six wide column">
        <div class="ui buttons">
            <a href="/empresas/alta" class="ui green button inverted" data-tooltip="Nuevo" data-position="bottom center"><i class="large plus icon"></i></a>
            <div class="ui blue button inverted" data-tooltip="Ayuda" data-position="bottom center"><i class="large idea icon"></i></div>
        </div>
    </div>
</div>
<!-- <div class="ui blue divider"></div> -->

<table class="ui sortable celled striped table" id="tabla_empresas">
    <thead>
        <tr>
            <th>#</th>      
            <th>Nombre</th>
            <th>Razon Social</th>
            <th>C.U.I.T.</th>
            <th>Domicilio</th>
            <th>Telefono</th>
            <th>E-Mail</th>
            <th>Fax</th>
            <th>Contacto</th>
            <th>Activo</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        {% for e in empresas %}
            <tr>
                <td>{{ e.id }}</td>     
                <td>{{ e.nombre }}</td>
                <td>{{ e.razon_social }}</td>
                <td>{{ e.cuit }}</td>
                <td>{{ e.domicilio }}</td>
                <td>{{ e.telefono }}</td>
                <td>{{ e.mail }}</td>
                <td>{{ e.fax }}</td>
                <td>{{ e.contacto }}</td>
                <td>{{ e.activotxt }}</td>
                <td>
                    <div class="ui icon buttons">
                        <a href="/empresas/eliminar/{{ e.id }}" class="ui red icon button inverted" data-tooltip="Eliminar"><i class="large trash icon"></i></a>
                        <a href="/empresas/modificar/{{ e.id }}" class="ui orange icon button inverted" data-tooltip="Modificar"><i class="large edit icon"></i></a>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}