{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<link href="/css/equipover.css" rel="stylesheet">
<h2>{{ pagename }}</h2>
<div class="panel panel-default">
	<form method="post" id="formalta" action="/equipover">
		<table align="center" class="table table-striped">
			<tr>
				<td>ID:</td>
				<td><input readonly name="equipoid" id="equipoid" value="{{ equipo.id }}" class="form-control"></td>
			</tr>
			<tr>
				<td>N° Interno:</td>
				<td><input type="text" id="codigo" name="codigo" readonly value="{{ equipo.codigo }}" class="form-control"></td>
			</tr>
			<tr>
				<td>Dominio:</td>
				<td><input type="text" id="dominio" name="dominio" readonly class="form-control" value="{{ equipo.dominio }}"></td>
			</tr>
			<tr>
				<td>Denominacion:</td>
				<td><input type="text" id="nombre" name="nombre" readonly class="form-control" value="{{ equipo.nombre }}"></td>
			</tr>
			<tr>
				<td>Marca:</td>
				<td><input type="text" id="marca" name="marca" readonly class="form-control" value="{{ equipo.marca }}"></td>
			</tr>
			<tr>
				<td>Modelo:</td>
				<td><input type="text" id="modelo" name="modelo" readonly class="form-control" value="{{ equipo.modelo }}"></td>
			</tr>
			<tr>
				<td>Nº Serie:</td>
				<td><input type="text" id="serie" name="serie" readonly class="form-control" value="{{ equipo.serie }}"></td>
			</tr>
			<tr>
				<td>Nº de Motor (para Vehiculos):</td>
				<td><input type="text" name="nmotor" id="nmotor" readonly class="form-control" value="{{ equipo.motor }}"></td>
			</tr>
			<tr>
				<td>Tipo:</td>
				<td>
					{% for tipomaq in tipomaqs %}
						{% if tipomaq.id == 1 or tipomaq.id == 3 %}
							{% if equipo.tipo == tipomaq.id %}
								<input type="text" id="tipomaqtxt" name="tipomaqtxt" class="form-control" readonly value="{{ tipomaq.descripcion }}">
							{% endif %}
						{% endif %}
					{% endfor %}
				</td>
			</tr>
			<tr>
				<td>Tipo de Equipo:</td>
				<td>
					{% for tipoeq in tipoeqs %}
						{% if equipo.tipoequipo == tipoeq.id %}
							<input type="text" name="tipoeqtxt" id="tipoeqtxt" readonly class="form-control" value="{{ tipoeq.descripcion }}">
						{% endif %}
					{% endfor %}
				</td>
			</tr>
			<tr>
				<td>Año:</td>
				<td><input type="text" id="anio" name="anio" readonly class="form-control" value="{{ equipo.anio }}"></td>
			</tr>
			<tr>
				<td>Fecha de compra:</td>
				<td><input type="text" class="form-control" readonly name="fcompra" id="fcompra" value="{{ equipo.fcompraf }}"></td>
			</tr>
			<tr>
				<td>Control por:</td>
				<td>
					{% for control in controles %}
						{% if equipo.control == control.id %}
							<input type="text" name="tipocontroltxt" id="tipocontroltxt" readonly class="form-control" value="{{ control.descripcion }}">
						{% endif %}
					{% endfor %}
				</td>
			</tr>
			<tr>
				<td>Combustible:</td>
				<td>
					{% for comb in combs %}
						{% if equipo.combus == comb.id %}
							<input type="text" name="tipocombtxt" id="tipocombtxt" class="form-control" readonly value="{{ comb.descripcion }}">
						{% endif %}
					{% endfor %}
				</td>
			</tr>
			<tr>
				<td>Km o Hrs Base:</td>
				<td><input type="text" name="base" id="base" class="form-control" value="{{ equipo.base }}" readonly></td>
			</tr>
			<tr>
				<td>Titular:</td>
				<td><input type="text" id="titular" name="titular" readonly class="form-control" value="{{ equipo.titular }}"></td>
			</tr>
			<tr>
				<td>Fecha de Baja:</td>
				{% if equipo.fbajaf == null %}
					<td><input type="text" class="form-control" readonly name="fbaja" id="fbaja" value=" "></td>
				{% else %}
					<td><input type="text" class="form-control" readonly name="fbaja" id="fbaja" value="{{ equipo.fbajaf }}"></td>
				{% endif %}
			</tr>
			<tr>
				<td>Motivo de Baja:</td>
				{% if equipo.mbaja == null %}
					<td><input type="text" id="mbaja" name="mbaja" readonly class="form-control" value=""></td>
				{% else %}
					<td><input type="text" id="mbaja" name="mbaja" readonly class="form-control" value="{{ equipo.mbaja }}"></td>
				{% endif %}
			</tr>
			<tr>
				<td>Activa:</td>
				{% if equipo.activa == 1 %}
					<td><input type="text" name="activatxt" id="activatxt" value="Activo" readonly class="form-control"></td>
				{% else %}
					<td><input type="checkbox" name="activa" id="activa" value="No Activo" readonly class="form-control"></td>
				{% endif %}
			</tr>
			<tr>
				<td>Mas datos:</td>
				<td><textarea name="datos" id="datos" rows="10" cols="40" class="form-control" readonly>{{ equipo.datos }}</textarea></td>
			</tr>
			<tr>
				<td>Link fabricante:</td>
				<td><input type="text" name="linkfab" id="linkfab" class="form-control" value="{{ equipo.linkfab }}" readonly></td>
			</tr>
			<tr>
				<td><input type="button" value="Atras" onclick="history.back()"></td>
				<td></td>
			</tr>
		</table>
	</form>
</div>
<script src="/js/jquery.min.js"></script>
<script type="text/javascript">

</script>

{% endblock %}