{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<link href="/css/equipoalta.css" rel="stylesheet">
<h2>{{ pagename }}</h2>
<div class="panel panel-default">
	<form method="post" id="formalta" action="/equipoalta">
		<table align="center" class="table table-striped">
			<tr>
				<td>N° Interno:</td>
				<td><input type="text" id="codigo" name="codigo" required value="{{ ultimocodigo }}" class="form-control"></td>
			</tr>
			<tr>
				<td>Dominio:</td>
				<td><input type="text" id="dominio" name="dominio" required class="form-control"></td>
			</tr>
			<tr>
				<td>Denominacion:</td>
				<td><input type="text" id="nombre" name="nombre" required class="form-control"><div class="aviso">Quedan <span id="charsLeftDenominacion"></span> caraceteres.</div></td>
			</tr>
			<tr>
				<td>Marca:</td>
				<td><input type="text" id="marca" name="marca" required class="form-control"><div class="aviso">Quedan <span id="charsLeftMarca"></span> caraceteres.</div></td>
			</tr>
			<tr>
				<td>Modelo:</td>
				<td><input type="text" id="modelo" name="modelo" required class="form-control"></td>
			</tr>
			<tr>
				<td>Nº Serie:</td>
				<td><input type="text" id="serie" name="serie" required class="form-control"><div class="aviso">Quedan <span id="charsLeftSerie"></span> caraceteres.</div></td>
			</tr>
			<tr>
				<td>Nº de Motor (para Vehiculos):</td>
				<td><input type="text" name="nmotor" id="nmotor" required class="form-control"><div class="aviso">Quedan <span id="charsLeftNmotor"></span> caraceteres.</div></td>
			</tr>
			<tr>
				<td>Tipo:</td>
				<td>
					<select name="tipomaq" id="tipomaq" class="form-control" readonly>
						{% for tipomaq in tipomaqs %}
							{% if tipomaq.id == 2 or tipomaq.id == 3 %}
								<option value="{{ tipomaq.id }}">{{ tipomaq.descripcion }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td>Tipo de Equipo:</td>
				<td>
					<select name="tipoeq" id="tipoeq" class="form-control" readonly>
						{% for tipoeq in tipoeqs %}
								<option value="{{ tipoeq.id }}">{{ tipoeq.descripcion }}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td>Año:</td>
				<td><input type="text" id="anio" name="anio" required placeholder="ej: 2011" onKeyPress="return soloNumeros(event)" class="form-control"></td>
			</tr>
			<tr>
				<td>Fecha de compra:</td>
				<td><input type="text" class="datepicker form-control" readonly name="fcompra" id="fcompra" ></td>
			</tr>
			<tr>
				<td>Control por:</td>
				<td>
					<select class="form-control" id="tipocontrol" name="tipocontrol">
					{% for control in controles %}
						<option value="{{ control.id }}">{{ control.descripcion }}</option>
					{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td>Combustible:</td>
				<td>
					<select class="form-control" id="tipocomb" name="tipocomb">
					{% for comb in combs %}
						<option value="{{ comb.id }}">{{ comb.descripcion }}</option>
					{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td>Km o Hrs Base:</td>
				<td><input type="text" name="base" id="base" class="form-control"></td>
			</tr>
			<tr>
				<td>Titular:</td>
				<td><input type="text" id="titular" name="titular" required class="form-control"><div class="aviso">Quedan <span id="charsLeftTitular"></span> caraceteres.</div></td>
			</tr>
			<tr>
				<td>Mas datos:</td>
				<td><textarea name="datos" id="datos" rows="10" cols="40" class="form-control"></textarea><div class="aviso">Quedan <span id="charsLeftDatos"></span> caraceteres.</div></td>
			</tr>
			<tr>
				<td>Link fabricante:</td>
				<td><input type="text" name="linkfab" id="linkfab" class="form-control"><div class="aviso">Quedan <span id="charsLeftLinkfab"></span> caraceteres.</div></td>
			</tr>
			<tr>
				<td><input type="button" value="Atras" onclick="history.back()"></td>
				<td><input type="submit" value="Agregar"></td>
			</tr>
		</table>
	</form>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>
<script src="/js/jquery.limit-1.2.js"></script>
<script type="text/javascript">
	$(".datepicker").datepicker({
		format: 'dd/mm/yyyy',
		autoclose: true,
		language: 'es'
	});
	$('#nombre').limit('30','#charsLeftDenominacion');
	$('#marca').limit('20','#charsLeftMarca');
	$('#serie').limit('25','#charsLeftSerie');
	$('#nmotor').limit('25','#charsLeftNmotor');
	$('#titular').limit('40','#charsLeftTitular');
	$('#datos').limit('1024','#charsLeftDatos');
	$('#linkfab').limit('80','#charsLeftLinkfab');
	
	function soloNumeros(e){
		var key = window.Event ? e.which : e.keyCode
		return (key >= 48 && key <= 57)
	}
</script>

{% endblock %}