{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<link href="/css/fichadaslista.css" rel="stylesheet">
<h2>{{ pagename }}</h2>
<div class="panel panel-default">
  <!-- Default panel contents -->
  	<div class="panel-heading">
  	<!-- Table -->
		<table>
		<tr>
			<td>
				<a href="/inicio"> <button type="button" class="btn btn-primary">Atras</button></a>
				<!-- <a href="/valesalta"><button type="button" class="btn btn-success">Agregar Nuevo</button></a> -->
				<button type="button" id="btnAyuda" name="btnAyuda" class="btn btn-default" data-toggle="modal" data-target="#myModal">Ayuda</button>
			</td>
			<td class="pull-right">
				<input type="textbox" id="fecha" name="fecha" class="datepicker" placeholder="dd/mm/aaaa" readonly> <button class="btn btn-default" name="buscar" ID="buscar">Buscar</button>	
      		</td>
		</tr>
		</table>
		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title" id="myModalLabel">{{ ayuda.titulo }}</h4>
		      </div>
		      <div class="modal-body">
		        {{ ayuda.texto }}
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
		      </div>
		    </div>
		  </div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<table id="tabla" class="table table-striped">
		  		<thead>
		  			<tr> 
		  				<th>Opciones</th>
		  				<th>Reloj</th>
		  				<th>Nombre Reloj</th>
		  				<th>Sector</th>
		  				<th>Cant. Total</th>
		  				<th>Entraron</th>
		  				<th>Salieron</th>
					</tr>
		  		</thead>
		  		<tbody id="tbodylisto">
		  			
		  		</tbody>
		  		<script type="text/template" id="tablafichadas">
	  				[[#.]]
	  				<tr>
	  					<td>
	  						<button id="ver" name="ver" onclick="run()" class="btn btn-default">Ver</button>
	  					</td>
	  					<td>
	  						<input hidden id="relojid" name="relojid" value="[[reloj]]">[[reloj]]
	  					</td>
	  					<td>
	  						[[relojtxt]]
	  					</td>
	  					<td>
	  						[[sectortxt]]
	  					</td>
	  					<td>
	  						[[cant]]
	  					</td>
	  					<td>
	  						[[entraron]]
	  					</td>
	  					<td>
	  						[[salieron]]
	  					</td>
	  				</tr>	
	  				[[/.]]						
		  		</script>	
			</table>			  		
		</div><!--div col xs12 -->
	</div><!--div row -->
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/js/mustache.js"></script>
<script type="text/javascript" src="/js/mustache-wax.js"></script>
<script type="text/javascript">
	$(function(){
		var date = new Date();
		day = date.getDate();
		if (day<10)
			day = "0" + day;
		month = date.getMonth() +1;
		if (month<10)
			month = "0" + month;
		fechar =  day+ '/' + month + '/' +  date.getFullYear();

		$('#fecha').val(fechar);

	});

	$(".datepicker").datepicker({
		format: 'dd/mm/yyyy',
		language: 'es',
		autoclose: true
	});

	$("#buscar").on("click", function() {
		var fecha  = encodeURIComponent(document.getElementById('fecha').value);

		$.getJSON('/buscarfichadas/'+ fecha, function (fichadas){
			$('#tbodylisto > tr').remove();
			var template= $('#tablafichadas').html();
			Mustache.tags=['[[',']]'];
			var html = Mustache.to_html(template, fichadas);
			//console.log(html);
			$('#tbodylisto').html(html);
		});
	});

	function run(){
		console.log("dfg")
		var fecha  = encodeURIComponent(document.getElementById('fecha').value);
		var relojid = $('#relojid').val();
		console.log('/fichadasver/'+relojid+"/"+fecha)
		
		$.getJSON('/fichadasver/'+relojid+"/"+fecha, function(){
			console.log("jsoneado "+relojid+" "+fecha)
		});
		//href="fichadasver/[[reloj]]/[[fecha]]"
	}
</script>
{% endblock %}