{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<h2>{{ pagename }}</h2>
<div class="panel panel-default">
  <!-- Default panel contents -->
  	<div class="panel-heading">
  	<!-- Table -->
		<table>
			<tr>	
				<td>Reloj:</td><td>Nombre:</td><td>Sector:</td>
			</tr>
			<tr>
				<td></td>
			</tr>	
		</table>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<table class="table table-striped">
		  		<thead>
		  			<tr> 
						<th>Nombre Empleado</th>
						<th>Hora</th>
						<th>Entrada/Salida</th>
					</tr>
		  		</thead>
		  		<tbody>
		  			{% for f in fichada %}
						<tr>
							<td>{{ cargo.id }}</td>
							<td>{{ cargo.descripcion }}</td>
						</tr>
					{% endfor %}
		  		</tbody>
			</table>				
		</div><!--div col xs12 -->
	</div><!--div row -->
</div>

{% endblock %}