{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<link href="/css/imputacionalta.css" rel="stylesheet">
<h2>{{ pagename }}</h2>
Ej: Mecanicas (MEC), Electricas (ELEC), "ED", etc..
<div class="panel panel-default">
	<form method="post" id="formalta" action="/imputacionalta">
		<table align="center" class="table table-striped">
			<tr>
				<td>Numero:</td>
				<td><input type="text" id="numero" name="numero" required class="form-control" onKeyPress="return soloNumeros(event)"><div class="aviso">Quedan <span id="charsLeftNumero"></span> caraceteres.</div></td>
			</tr>
			<tr>
				<td>Nombre:</td>
				<td><input type="text" id="nombre" name="nombre" required class="form-control"><div class="aviso">Quedan <span id="charsLeftNombre"></span> caraceteres.</div></td>
			</tr>
			<tr>
				<td>Sector:</td>
				<td>
					<select class="form-control" id="sector" name="sector">
						{% for s in sectores %}
							<option value="{{ s.id }}">{{ s.nombre }}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td>Lugar:</td>
				<td>
					<select class="form-control" id="lugar" name="lugar">
						{% for l in lugares %}
							<option value="{{ l.id }}">{{ l.nombre }}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td>Unidad de Medida:</td>
				<td>
					<select class="form-control" id="umed" name="umed">
						{% for u in umeds %}
							<option value="{{ u.id }}">{{ u.nombre }}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td>Horas Standard:</td>
				<td><input type="text" id="horas_standard" name="horas_standard" class="form-control" onKeyPress="return soloNumeros(event)"></td>
			</tr>
			<tr>
				<td>Contrato:</td>
				<td>
					<select class="form-control" id="contrato" name="contrato">
						{% for c in contratos %}
							<option value="{{ c.id }}">{{ c.nombre }}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td><input type="button" value="Atras" onclick="history.back()"></td>
				<td><input type="submit" value="Agregar"></td>
			</tr>
		</table>
	</form>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.limit-1.2.js"></script>
<script type="text/javascript">
	$('#nombre').limit('30','#charsLeftNombre');
	$('#numero').limit('10','#charsLeftNumero');
	function soloNumeros(e){
		var key = window.Event ? e.which : e.keyCode
		return (key >= 48 && key <= 57)
	}
</script>
{% endblock %}