{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<link href="/css/imputacionmodificar.css" rel="stylesheet">	
<h2>{{ pagename }}</h2>
<div class="panel panel-default">
	<form method="POST" action="/imputacionmodificar">
		<table align="center" class="table table-striped">
			<tr>
				<td>ID:</td>
				<td><input type="text" readonly name="id" id="id" class="form-control" value="{{ item.id }}"></td>
			</tr>
			<tr>
				<td>Numero: </td>
				<td><input type="text" id="numero" name="numero" value="{{ item.numero }}" required class="form-control" onKeyPress="return soloNumeros(event)"><div class="aviso">Quedan <span id="charsLeftNumero"></span> caraceteres.</div></td>
			</tr>	
			<tr>
				<td>Nombre:</td>
				<td><input type="text" id="nombre" name="nombre" value="{{ item.nombre }}" required class="form-control"><div class="aviso">Quedan <span id="charsLeftNombre"></span> caraceteres.</div></td>
			</tr>
			<tr>
				<td>Sector:</td>
				<td>
					<select class="form-control" id="sector" name="sector">
						{% for s in sectores %}
							{% if s.id == item.id_sector_fk %}
								<option value="{{ s.id }}" selected>{{ s.nombre }}</option>
							{% else %}
								<option value="{{ s.id }}">{{ s.nombre }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td>Lugar:</td>
				<td>
					<select class="form-control" id="lugar" name="lugar">
						{% for l in lugares %}
							{% if l.id == item.id_lugar_fk %}
								<option value="{{ l.id }}" selected>{{ l.nombre }}</option>
							{% else %}
								<option value="{{ l.id }}">{{ l.nombre }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td>Unidad de Medida:</td>
				<td>
					<select class="form-control" id="umed" name="umed">
						{% for u in umeds %}
							{% if u.id == item.id_umed_fk %}
								<option value="{{ u.id }}" selected>{{ u.nombre }}</option>
							{% else %}
								<option value="{{ l.id }}">{{ l.nombre }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td>Horas Standard:</td>
				<td><input type="text" id="horas_standard" name="horas_standard" class="form-control" onKeyPress="return soloNumeros(event)" value="{{ item.horas_standard }}"></td>
			</tr>
			<tr>
				<td>Contrato:</td>
				<td>
					<select class="form-control" id="contrato" name="contrato">
						{% for c in contratos %}
							{% if c.id == item.id_contrato_fk %}
								<option value="{{ c.id }}" selected>{{ c.nombre }}</option>
							{% else %}
								<option value="{{ c.id }}">{{ c.nombre }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td>Activo:</td>
				{% if item.activa == 1 %}
					<td><input type="checkbox" name="activa" checked></td>
				{% else %}
					<td><input type="checkbox" name="activa"></td>
				{% endif %}	
			</tr>
			<tr>
				<td><input type="button" value="Atras" onclick="history.back()"></td>
				<td><input type="submit" value="Guardar"></td>
			</tr>
		</table>
	</form>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.limit-1.2.js"></script>
<script type="text/javascript">
	$('#nombre').limit('30','#charsLeftNombre');
	$('#numero').limit('10','#charsLeftNumero');
	function soloNumeros(e){
		var key = window.Event ? e.which : e.keyCode
		return (key >= 48 && key <= 57)
	}
</script>
{% endblock %}