{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<link href="/css/maqver.css" rel="stylesheet">
<h2>{{ pagename }}</h2>
<div class="panel panel-default">
		<table align="center" class="table table-striped">
			<input type="hidden" value="maq.id">
			<tr>
				<td>N° Interno:</td>
				<td><input type="text" id="codigo" name="codigo" readonly value="{{ maq.codigo }}" class="form-control"></td>
			</tr>
			<!-- <tr>
				<td>Dominio:</td>
				<td><input type="text" id="dominio" name="dominio" readonly value="{{ maq.dominio }}"></td>
			</tr> -->
			<tr>
				<td>Denominacion:</td>
				<td><input type="text" id="nombre" name="nombre" readonly value="{{ maq.nombre }}" class="form-control"></td>
			</tr>
			<tr>
				<td>Marca:</td>
				<td><input type="text" id="marca" name="marca" readonly value="{{ maq.marca }}" class="form-control"></td>
			</tr>
			<tr>
				<td>Tipo:</td>
				<td>
					<input type="text" name="tipomaquinaria" id="tipomaquinaria" readonly value="Maquina" class="form-control">
				</td>
			</tr>
			<tr>
				<td>Modelo:</td>
				<td><input type="text" id="modelo" name="modelo" readonly value="{{ maq.modelo }}" class="form-control"></td>
			</tr>
			<!-- <tr>
				<td>Año:</td>
				<td><input type="text" id="anio" name="anio" readonly value="{{ maq.anio }}"></td>
			</tr> -->
			<tr>
				<td>Nº Serie:</td>
				<td><input type="text" id="serie" name="serie" readonly value="{{ maq.serie }}" class="form-control"></td>
			</tr>
			<!-- <tr>
				<td>Nº de Motor:</td>
				<td><input type="text" name="nmotor" id="nmotor" readonly value="{{ maq.motor }}" ></td>
			</tr> -->
			<tr>
				<td>Fecha de compra:</td>
				<td><input type="text"  name="fcompra" readonly value="{{ maq.fcompra|date('d/m/Y') }}" class="form-control"></td>
			</tr>
			<!-- <tr>
				<td>Control por:</td>
				<td>
					{% for control in controles %}
						{% if maq.control == control.id %}
							<input type="text" name="tipocontrol" id="tipocontrol" readonly value="{{control.descripcion}}">
						{% endif %}
					{% endfor %}
				</td>
			</tr> -->
			<!-- <tr>
				<td>Combustible:</td>
				<td>
					{% for comb in combs %}
						{% if maq.combus == comb.id %}
							<input type="text" name="tipocomb" id="tipocomb" readonly value="{{comb.descripcion}}">
						{% endif %}
					{% endfor %}
				</td>
			</tr> -->
			<!-- <tr>
				<td>Titular:</td>
				<td><input type="text" id="titular" name="titular" readonly  value="{{ maq.titular }}"></td>
			</tr> -->
			<tr>
				<td>Fecha de baja:</td>
				<td><input type="text" readonly name="fbaja"  value="{{ fbaja }}" class="form-control"></td>
			</tr>
			<tr>
				<td>Motivo de baja:</td>
				<td><input type="text"  name="mbaja" id="mbaja" readonly value="{{ maq.mbaja }}" class="form-control"></td>
			</tr>
			<tr>
				<td>Mas datos:</td>
				<td><textarea name="datos" id="datos" rows="10" cols="40" readonly class="form-control">{{ maq.datos }}</textarea> </td>
			</tr>
			<tr>
				<td>Link fabricante:</td>
				<td><a href="https://{{ maq.linkfab }}" >{{ maq.linkfab }}</a></td>
			</tr>
			<tr>
				<td></td>
				<td><button class="btn btn-default" onclick="history.back()">Atras</button>
					<a href="/maqmodificar/{{ maq.id }}"><button class="btn btn-warning">Modificar</button></a>
				<a href='/maqborrar/{{ maq.id }}' onclick="if (!confirm('¿Seguro desea eliminar?')) return false;"><button type="button" class="btn btn-danger">Eliminar</button><a/></td>
			</tr>
		</table>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>
<script type="text/javascript">
	$(".datepicker").datepicker();
</script>

{% endblock %}