{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<h2>{{ pagename }} <b>{{ m2.descripcion }}</b></h2>
<div class="panel panel-default">
  <!-- Default panel contents -->
  	<div class="panel-heading">
  	<!-- Table -->
	<table>
		<tr>	
			<td><a href="/modelodetallelista/{{ m2.id_modelom1_fk }}"> <button type="button" class="btn btn-primary">Atras</button></a></td>
		</tr>
	</table>
	</div>
		<div class="row">
			<div class="col-xs-12">
				<!-- <div style="overflow: scroll;"> -->
				  	<table class="table table-striped">
						<tr>
							<th>#</th>
							<th>Repuesto</th>
							<th>Cantidad</th>
						</tr>
						<tr>
							<td>1</td>
							{% if m2.rep1txt != null %}
								<td>{{ m2.rep1txt }}</td>
							{% else %}
								<td>Sin Repuesto</td>
							{% endif %}
							<td>{{ m2.cant1 }}</td>
						</tr>
						<tr>
							<td>2</td>
							{% if m2.rep2txt != null %}
								<td>{{ m2.rep2txt }}</td>
							{% else %}
								<td>Sin Repuesto</td>
							{% endif %}
							<td>{{ m2.cant2 }}</td>
						</tr>
						<tr>
							<td>3</td>
							{% if m2.rep3txt != null %}
								<td>{{ m2.rep3txt }}</td>
							{% else %}
								<td>Sin Repuesto</td>
							{% endif %}
							<td>{{ m2.cant3 }}</td>
						</tr>
						<tr>
							<td>4</td>
							{% if m2.rep4txt != null %}
								<td>{{ m2.rep4txt }}</td>
							{% else %}
								<td>Sin Repuesto</td>
							{% endif %}
							<td>{{ m2.cant4 }}</td>
						</tr>
						<tr>
							<td>5</td>
							{% if m2.rep5txt != null %}
								<td>{{ m2.rep5txt }}</td>
							{% else %}
								<td>Sin Repuesto</td>
							{% endif %}
							<td>{{ m2.cant5 }}</td>
						</tr>
						</tr>
				  	</table>
				<!-- </div> -->	
			</div><!--div col xs12 -->
		</div><!--div row -->
	</div>
{% endblock %}