{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<link href="/css/modelomantenimientomodificar.css" rel="stylesheet">
<h2>{{ pagename }}</h2>
<div class="panel panel-default">
	<form method="post" id="formalta" action="/modelomantenimientomodificar">
		<table align="center" class="table table-striped">
			<input hidden name="id" value="{{ m.id }}">
			<tr>
				<td>Nombre:</td>
				<td><input type="text" id="nombre" name="nombre" required value="{{ m.nombre }}" class="form-control"></td>
			</tr>
			<tr>
				<td>Descripcion:</td>
				<td><input type="text" id="descripcion" name="descripcion" required class="form-control" value="{{ m.descripcion }}"></td>
			</tr>
			<tr>
				<td>Medir por:</td>
				<td></td>
			</tr>
			<tr>
				<td>Kms:</td>
				<td><input type="text" id="kms" class="form-control" name="kms" value="{{ m.kms }}" onKeyPress="return soloNumeros(event)"></td>
			</tr>
			<tr>
				<td>Hrs</td>
				<td><input type="text" id="hrs" class="form-control" name="hrs" value="{{ m.hrs }}" onKeyPress="return soloNumeros(event)"></td>
			</tr>
			<tr>
				<td>Dias:</td>
				<td><input type="text" id="dias" class="form-control" name="dias" value="{{ m.dias }}" onKeyPress="return soloNumeros(event)"></td>
			</tr>
			<tr>
				<td><input type="button" value="Atras" onclick="history.back()"></td>
				<td><input type="submit" value="Agregar"></td>
			</tr>
		</table>
	</form>
</div>
<script src="/js/jquery.min.js"></script>
<script type="text/javascript">
	function soloNumeros(e){
		var key = window.Event ? e.which : e.keyCode
		return (key >= 48 && key <= 57)
	}
	
</script>
{% endblock %}