{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<link href="/css/modelodetallealta.css" rel="stylesheet">
<h2>{{ pagename }} en <b>{{ m1.nombre }}</b></h2>
<div class="panel panel-default">
	<form method="post" id="formalta" action="/modelodetallealta">
		<table align="center" class="table table-striped">
			<tr>
				<td>Modelo de Mantenimiento:</td>
				<td><input type="text" name="modelom1txt" id="modelom1txt" value="{{ m1.nombre }}" class="form-control" readonly><input hidden name="m1id" value="{{ m1.id }}"></td>
			</tr>
			<tr>
				<td>Tipo de Tarea:</td>
				<td>
					<select name="tipotarea" id="tipotarea" class="form-control">
						{% for t in tipotareas %}
							<option value="{{ t.id }}">{{ t.descripcion }}</option>
						{% endfor %}
					</select>	
				</td>
			</tr>
			<tr>
				<td>Descripcion:</td>
				<td><input type="text" name="descripcion" id="descripcion" class="form-control"></td>
			</tr>
			<tr>
				<td>Cambio o Revision?:</td>
				<td>
					<select name="cambiorevision" id="cambiorevision" class="form-control">
						<option value="c">Cambio</option>
						<option value="r">Revision</option>
					</select>
				</td>
			</tr>
			<tr>
				<td><b>Datos Opcionales:</b></td>
				<td></td>
			</tr>
			<tr>
				<td>Repuesto 1:</td>
				<td>
					<select name="rep1" id="rep1" class="form-control">
						<option value="0" selected>Sin repuesto</option>
						{% for r in repuestos %}
							<option value="{{ r.id }}">{{ r.id }} - {{ r.Nombre }}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td>Cantidad de Repuesto 1:</td>
				<td><input type="text" name="cant1" id="cant1" class="form-control" onKeyPress="return soloNumeros(event)"></td>
			</tr>
			<tr>
				<td>Repuesto 2:</td>
				<td>
					<select name="rep2" id="rep2" class="form-control">
						<option value="0" selected>Sin repuesto</option>
						{% for r in repuestos %}
							<option value="{{ r.id }}">{{ r.id }} - {{ r.Nombre }}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td>Cantidad de Repuesto 2:</td>
				<td><input type="text" name="cant2" id="cant2" class="form-control" onKeyPress="return soloNumeros(event)"></td>
			</tr>
			<tr>
				<td>Repuesto 3:</td>
				<td>
					<select name="rep3" id="rep3" class="form-control">
						<option value="0" selected>Sin repuesto</option>
						{% for r in repuestos %}
							<option value="{{ r.id }}">{{ r.id }} - {{ r.Nombre }}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td>Cantidad de Repuesto 3:</td>
				<td><input type="text" name="cant3" id="cant3" class="form-control" onKeyPress="return soloNumeros(event)"></td>
			</tr>
			<tr>
				<td>Repuesto 4:</td>
				<td>
					<select name="rep4" id="rep4" class="form-control">
						<option value="0" selected>Sin repuesto</option>
						{% for r in repuestos %}
							<option value="{{ r.id }}">{{ r.id }} - {{ r.Nombre }}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td>Cantidad de Repuesto 4:</td>
				<td><input type="text" name="cant4" id="cant4" class="form-control" onKeyPress="return soloNumeros(event)"></td>
			</tr>
			<tr>
				<td>Repuesto 5:</td>
				<td>
					<select name="rep5" id="rep5" class="form-control">
						<option value="0" selected>Sin repuesto</option>
						{% for r in repuestos %}
							<option value="{{ r.id }}">{{ r.id }} - {{ r.Nombre }}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td>Cantidad de Repuesto 5:</td>
				<td><input type="text" name="cant5" id="cant5" class="form-control" onKeyPress="return soloNumeros(event)"></td>
			</tr>
			<tr>
				<td><input type="button" value="Atras" onclick="history.back()"></td>
				<td><input type="submit" value="Agregar"></td>
			</tr>
		</table>
	</form>
</div>
<script src="/js/jquery.min.js"></script>
<script type="text/javascript">
	function soloNumeros(e){
		var key = window.Event ? e.which : e.keyCode
		return (key >= 48 && key <= 57)
	}
</script>

{% endblock %}