{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<link href="/css/otalta.css" rel="stylesheet">
<h2>{{ pagename }}</h2>
<div class="panel panel-default">
	<form method="post" id="formalta" action="/otalta">
		<table align="center" class="table table-striped">
			<tr>
				<td>Fecha de Emision:</td>
				<td><input type="text" name="fechaemision" id="fechaemision" class="datepicker form-control" readonly></td>
			</tr>
			<tr>
				<td>Empleado:</td>
				<td>
					<select name="emple" id="emple" class="form-control">
						{% for emple in emples %}
							<option value="{{ emple.codigo }}">{{ emple.codigo }} - {{ emple.nombre }}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td>Equipo:</td>
				<td>
					<select name="equipo" id="equipo" class="form-control">
						{% for maq in maqs %}
							<option value="{{ maq.id }}">{{ maq.id }} - {{ maq.nombre }}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td>Tarea:</td>
				<td><input type="text" name="tarea" id="tarea" class="form-control"></td>
			</tr>
			<tr>
				<td>Repuestos:</td>
				<td><input type="text" name="repuestos" id="repuestos" class="form-control"></td>
			</tr>
			<tr>
				<td>Prioridad:</td>
				<td>	
					<select name="prioridad" id="prioridad" class="form-control">	
						<option value="Baja">Baja</option>
						<option value="Media">Media</option>
						<option value="Alta">Alta</option>
					</select>
				</td>
			</tr>
			<tr>
				<td><input type="button" value="Atras" onclick="history.back()"></td>
				<td><input type="submit" value="Agregar"></td>
			</tr>
		</table>
	</form>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>
<script type="text/javascript">
	$(".datepicker").datepicker({
		format: 'dd/mm/yyyy',
		autoclose: true,
		language: 'es'
	});
	//proponer fecha de emision "hoy"
	var myDate = new Date();
	year = myDate.getFullYear(); 
	day = myDate.getDate();
	if (day<10)
		day = "0"+day;
	month = myDate.getMonth();
	if (month<10)
		month = "0"+month
	myDate = day + "/" + month + "/" + year;
	$('#fechaemision').val(myDate);
</script>

{% endblock %}