{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<link href="/css/partediario2modificar.css" rel="stylesheet">	
<h2>{{ pagename }}</h2>
<form method="POST" name="formty" action="/partediario2modificar">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h4><b>Información General</b></h4>
		</div>
		<table align="center" class="table table-striped">	
			<input hidden name="idpartediario1" id="idpartediario1" value="{{ partediario2.id_partediario1_fk }}">
			<input hidden name="fechapartediario1" id="fechapartediario1" value="{{ partediario1.fechaf }}">
			<tr>
				<td>ID:</td>
				<td><input type="text" id="id" name="id" value="{{ partediario2.id }}" readonly="readonly" class="form-control"></td>
			</tr>	
			<tr>
				<td>N°:</td>
				<td><input type="text" id="nro" name="nro" value="{{ partediario2.numero }}" readonly class="form-control"></td>
			</tr>	
			<tr>
				<td>Legajo:</td>
				<td><input type="text" id="legajo" name="legajo" value="{{ partediario2.legajo }}" readonly class="form-control"></td>
			</tr>
			<tr>
				<td>Nro. de Tarjeta:</td>
				<td><input type="text" id="tarjeta" name="tarjeta" value="{{ partediario2.tarjeta }}" readonly class="form-control"></td>
			</tr>
			<tr>
				<td>Nombre:</td>
				<td><input type="text" id="nombre" name="nombre" value="{{ partediario2.nombre }}" readonly class="form-control"></td>
			</tr>
			<tr>
				<td>Codigo:</td>
				<td>
					<select class="form-control" name="codigohora" id="codigohora">
						{% for ch in codigoshora %}
							{% if ch.id == partediario2.id_codigohora_fk %}
								<option value="{{ ch.id }}" selected>{{ ch.numero }} - {{ ch.nombre }}</option>
							{% else %}
								<option value="{{ ch.id }}">{{ ch.numero }} - {{ ch.nombre }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</td>
			</tr>
		</table>
	</div>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h4><button type="button" title="Refrescar Fichadas" onclick="refresh(); return false;" class="btn btn-default"><span class="glyphicon glyphicon-refresh"></span></button> <b>Horarios de Fichada</b></h4>
		</div>
		<table class="table table-striped">
			<tr>
				<td>Fichadas:</td>
				<td>
					<select id="cmbFichadas" name="cmbFichadas" class="form-control">
						<option value="0">Refresque las Fichadas</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>Entrada:</td>
				<td>
					<table>
						<tr>
							<td><input type="time" id="entrada" name="entrada" value="{{ partediario2.hr_entrada }}" class="form-control" onkeypress='validate(event)'></td>
							<td>&nbsp;&nbsp;</td>
							<td><label id="lblEntrada"></label></td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>Salida:</td>
				<td>
					<table>
						<tr>
							<td><input type="time" id="salida" name="salida" value="{{ partediario2.hr_salida }}" class="form-control" onkeypress='validate(event)'></td>
							<td>&nbsp;&nbsp;</td>
							<td><label id="lblSalida"></label></td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>Total:</td>
				<td><input type="text" id="total" name="total" value="{{ partediario2.hr_total }}" class="form-control" onkeypress='validate(event)'></td>
			</tr>
		</table>
	</div>
	<div class="panel panel-success">
		<div class="panel-heading">
			<h4><b>Horas Adicionales</b></h4>
		</div>
		<table class="table table-striped">
			<tr>
				<td>Tipo Hora:</td>
				<td>Norm.</td>
				<td>50%</td>
				<td>100%</td>
			</tr>
			{% if partediario1.id_clasificacion1_fk != 0 %}
				<tr>
					<td>{{ partediario1.clasificacion1txt }}:</td>
					<td><input type="text" id="adicional1_n" name="adicional1_n" value="{{ partediario2.adicional1_n }}" required class="form-control" onkeypress='validate(event)'></td>
					<td><input type="text" id="adicional1_50" name="adicional1_50" value="{{ partediario2.adicional1_50 }}" required class="form-control" onkeypress='validate(event)'></td>
					<td><input type="text" id="adicional1_100" name="adicional1_100" value="{{ partediario2.adicional1_100 }}" required class="form-control" onkeypress='validate(event)'></td>
				</tr>
			{% endif %}
			{% if partediario1.id_clasificacion2_fk != 0 %}
				<tr>
					<td>{{ partediario1.clasificacion2txt }}:</td>
					<td><input type="text" id="adicional2_n" name="adicional2_n" value="{{ partediario2.adicional2_n }}" required class="form-control" onkeypress='validate(event)'></td>
					<td><input type="text" id="adicional2_50" name="adicional2_50" value="{{ partediario2.adicional2_50 }}" required class="form-control" onkeypress='validate(event)'></td>
					<td><input type="text" id="adicional2_100" name="adicional2_100" value="{{ partediario2.adicional2_100 }}" required class="form-control" onkeypress='validate(event)'></td>
				</tr>
			{% endif %}
			{% if partediario1.id_clasificacion3_fk != 0 %}
				<tr>
					<td>{{ partediario1.clasificacion3txt }}:</td>
					<td><input type="text" id="adicional3_n" name="adicional3_n" value="{{ partediario2.adicional3_n }}" required class="form-control" onkeypress='validate(event)'></td>
					<td><input type="text" id="adicional3_50" name="adicional3_50" value="{{ partediario2.adicional3_50 }}" required class="form-control" onkeypress='validate(event)'></td>
					<td><input type="text" id="adicional3_100" name="adicional3_100" value="{{ partediario2.adicional3_100 }}" required class="form-control" onkeypress='validate(event)'></td>
				</tr>
			{% endif %}
			{% if partediario1.id_clasificacion4_fk != 0 %}
				<tr>
					<td>{{ partediario1.clasificacion4txt }}:</td>
					<td><input type="text" id="adicional4_n" name="adicional4_n" value="{{ partediario2.adicional4_n }}" required class="form-control" onkeypress='validate(event)'></td>
					<td><input type="text" id="adicional4_50" name="adicional4_50" value="{{ partediario2.adicional4_50 }}" required class="form-control" onkeypress='validate(event)'></td>
					<td><input type="text" id="adicional4_100" name="adicional4_100" value="{{ partediario2.adicional4_100 }}" required class="form-control" onkeypress='validate(event)'></td>
				</tr>
			{% endif %}
			{% if partediario1.id_clasificacion5_fk != 0 %}
				<tr>
					<td>{{ partediario1.clasificacion5txt }}:</td>
					<td><input type="text" id="adicional5_n" name="adicional5_n" value="{{ partediario2.adicional5_n }}" required class="form-control" onkeypress='validate(event)'></td>
					<td><input type="text" id="adicional5_50" name="adicional5_50" value="{{ partediario2.adicional5_50 }}" required class="form-control" onkeypress='validate(event)'></td>
					<td><input type="text" id="adicional5_100" name="adicional5_100" value="{{ partediario2.adicional5_100 }}" required class="form-control" onkeypress='validate(event)'></td>
				</tr>
			{% endif %}
			{% if partediario1.id_clasificacion6_fk != 0 %}
				<tr>
					<td>{{ partediario1.clasificacion6txt }}:</td>
					<td><input type="text" id="adicional6_n" name="adicional6_n" value="{{ partediario2.adicional6_n }}" required class="form-control" onkeypress='validate(event)'></td>
					<td><input type="text" id="adicional6_50" name="adicional6_50" value="{{ partediario2.adicional6_50 }}" required class="form-control" onkeypress='validate(event)'></td>
					<td><input type="text" id="adicional6_100" name="adicional6_100" value="{{ partediario2.adicional6_100 }}" required class="form-control" onkeypress='validate(event)'></td>
				</tr>
			{% endif %}
		</table>
	</div>
	<div class="panel panel-warning">
		<div class="panel-heading">
			<h4><b>Items</b></h4>
		</div>
		<table class="table table-striped">

			{% if partediario1.id_imputacion1_fk != 0 %}
				<tr>
					<td>{{ partediario1.imputacion1txt }} - {% for i in items%}{% if partediario1.id_imputacion1_fk == i.id %}{{ i.nombre }}{% endif %}{% endfor %}:</td>
					<td><input type="text" id="item1" name="item1" value="{{ partediario2.item1 }}" required class="form-control" onkeypress='validate(event)'></td>
				</tr>
			{% endif %}
			{% if partediario1.id_imputacion2_fk != 0 %}
				<tr>
					<td>{{ partediario1.imputacion2txt }} - {% for i in items%}{% if partediario1.id_imputacion2_fk == i.id %}{{ i.nombre }}{% endif %}{% endfor %}:</td>
					<td><input type="text" id="item2" name="item2" value="{{ partediario2.item2 }}" required class="form-control" onkeypress='validate(event)'></td>
				</tr>
			{% endif %}
			{% if partediario1.id_imputacion3_fk != 0 %}
				<tr>
					<td>{{ partediario1.imputacion3txt }} - {% for i in items%}{% if partediario1.id_imputacion3_fk == i.id %}{{ i.nombre }}{% endif %}{% endfor %}:</td>
					<td><input type="text" id="item3" name="item3" value="{{ partediario2.item3 }}" required class="form-control" onkeypress='validate(event)'></td>
				</tr>
			{% endif %}
			{% if partediario1.id_imputacion4_fk != 0 %}
				<tr>
					<td>{{ partediario1.imputacion4txt }} - {% for i in items%}{% if partediario1.id_imputacion4_fk == i.id %}{{ i.nombre }}{% endif %}{% endfor %}:</td>
					<td><input type="text" id="item4" name="item4" value="{{ partediario2.item4 }}" required class="form-control" onkeypress='validate(event)'></td>
				</tr>
			{% endif %}
			{% if partediario1.id_imputacion5_fk != 0 %}
				<tr>
					<td>{{ partediario1.imputacion5txt }} - {% for i in items%}{% if partediario1.id_imputacion5_fk == i.id %}{{ i.nombre }}{% endif %}{% endfor %}:</td>
					<td><input type="text" id="item5" name="item5" value="{{ partediario2.item5 }}" required class="form-control" onkeypress='validate(event)'></td>
				</tr>
			{% endif %}
			{% if partediario1.id_imputacion6_fk != 0 %}
				<tr>
					<td>{{ partediario1.imputacion6txt }} - {% for i in items%}{% if partediario1.id_imputacion6_fk == i.id %}{{ i.nombre }}{% endif %}{% endfor %}:</td>
					<td><input type="text" id="item6" name="item6" value="{{ partediario2.item6 }}" required class="form-control" onkeypress='validate(event)'></td>
				</tr>
			{% endif %}
		</table>
	</div>
	<div class="panel panel-default">
		<table class="table">
			<tr>
				<td><input class="btn btn-default" type="button" value="Atras" onclick="history.back()"></td>
				<td><input class="btn btn-default" type="submit" value="Guardar"></td>
				<!-- <td><input class="btn btn-default" type="button" value="Guardar y Siguiente." id="SaveAndNext"></td> -->
			</tr>
		</table>
	</div>
</form>
<script src="/js/jquery.min.js"></script>
<script type="text/javascript">
	function validate(evt) {
	  var theEvent = evt || window.event;
	  var key = theEvent.keyCode || theEvent.which;
	  key = String.fromCharCode( key );
	  var regex = /[0-9]|\./;
	  if( !regex.test(key) ) {
	    theEvent.returnValue = false;
	    if(theEvent.preventDefault) theEvent.preventDefault();
	  }
	}

	$("formty").submit(function(e){

		var validationfails = true;
		var codigohora = $("#codigohora").val();
		var entrada = $("#entrada").val();
		var salida = $("#salida").val();
		console.log(codigohora)
		console.log(entrada)
		console.log(entrada.length)
		console.log(salida)
		console.log(salida.length)
		if (codigohora == 1 || codigohora == 18){
			if (entrada.length == 0 || salida.length == 0){
				validationfails = true;
				alert("Si es Normal o Feriado Trabajado, DEBEN haber horarios cargados.")
			}else{
				validationfails = false;
			}
		}else{
			if (entrada.length > 0 || salida.length > 0){
				validationfails = true;
				alert("Si NO son Normales o Feriado Trabajado, NO PUEDE haber horarios cargados.")
			}else{
				validationfails = false;
			}
		}


	    if(validationfails){
	    	e.preventDefault();
	        //return false;
	    }else{
	        $("#form").submit();
	        return true;
	    }
 	});

	function changeDate(date){
		// input: dd/mm/yyyy
		fechaus = date.substring(6,10) + "/" + date.substring(3,5) + "/" + date.substring(0,2);
		return fechaus;
		// output: yyyy/mm/dd
	}

	$('#entrada').on('change', function(){
		salida = $('#salida').val()
		if (salida.length > 0){
			calculo();
		}
	});

	$('#salida').on('change', function(){
		calculo();
	});	

	$("#SaveAndNext").on("click", function(){
		//hacer el guardar
		//redirijir al proximo
	});

	function msToTime(duration) {
        var milliseconds = parseInt((duration%1000)/100)
            , seconds = parseInt((duration/1000)%60)
            , minutes = parseInt((duration/(1000*60))%60)
            , hours = parseInt((duration/(1000*60*60))%24);

        hours = (hours < 10) ? "0" + hours : hours;
        minutes = (minutes < 10) ? "0" + minutes : minutes;
        seconds = (seconds < 10) ? "0" + seconds : seconds;

        return hours + ":" + minutes;
    }

	function calculo(){

		var entrada = $('#entrada').val();
	    var salida = $('#salida').val();

	    if (entrada <= salida){
	    	var startDate = new Date("1/1/1900 " + entrada);
			var endDate = new Date("1/1/1900 " + salida );
		}else{
			var startDate = new Date("1/1/1900 " + entrada);
			var endDate = new Date("2/1/1900 " + salida );			
		}
		var diff = endDate - startDate;

		diff = msToTime(diff);

	    $('#total').val(diff);
	}

	function refresh(){
		console.log(":P");
		tarjeta = $("#tarjeta").val();
		fecha_hoy = $("#fechapartediario1").val();
		fecha_hoy = changeDate(fecha_hoy);
		diahoy = fecha_hoy.substring(8,10);
		diahoyInt = parseInt(diahoy);
		var diamanInt = diahoyInt +1;
		fecha_maniana = fecha_hoy.substring(0, 4) + '/' + fecha_hoy.substring(5, 7) + '/' + diamanInt ;
		//consulta sql
		fecha_hoy = encodeURIComponent(fecha_hoy);
		fecha_maniana = encodeURIComponent(fecha_maniana);

		$.getJSON('/getbytarjetayfechas/'+tarjeta+'/'+fecha_hoy+'/'+fecha_maniana, function (fichadas){
			console.log(fichadas);
			if (fichadas.length != 0){
			//actualizar textboxes
			//actualizar labels al lado de los txt con la hora de e o s
				$("#cmbFichadas").empty();
				for (var i = 0 ; i < fichadas.length ; i++){
					var intt = parseInt(i);
					intt = intt+1;
					if (fichadas[i].fic_entsal == 'E')
						$("#cmbFichadas").append("<option>"+ intt +" - Entrada - "+ fichadas[i].fic_fechaf +" "+ fichadas[i].fic_hora +"</option>");
					else
						$("#cmbFichadas").append("<option>"+ intt +" - Salida - "+ fichadas[i].fic_fechaf +" "+ fichadas[i].fic_hora +"</option>");
				}
				var bandera = false;
				for (var i = 0 ; i < fichadas.length ; i++){
					if (fichadas[i].fic_entsal == 'E' && bandera == false){
						$("#entrada").val(fichadas[i].fic_hora);
						$("#lblEntrada").text(fichadas[i].fic_fechaf);//completar
						bandera = true;
					}
					if (fichadas[i].fic_entsal == 'S' && bandera == true){
						$("#salida").val(fichadas[i].fic_hora);
						$("#lblSalida").text(fichadas[i].fic_fechaf);//completar
						break;
					}
				}
			//actualizar la cuenta de las horas
			entrada = $("#entrada").val();
			salida = $("#salida").val();
			if (entrada.length > 0 && salida.length > 0)
				calculo();
			}else{
				//hacer que aca muestre error de que no se encontro nada en la busqueda
				$("#lblEntrada").text("No se ha encontrado nada.");
				$("#lblSalida").text("No se ha encontrado nada.");
				console.log("No se encontró nada en la búsqueda!")
			}
		});
	}

</script>
{% endblock %}