{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<link href="/css/partediario1alta.css" rel="stylesheet">
<h2>{{ pagename }}</h2>
<div class="panel panel-default">
	<form method="post" id="formalta" action="/partediario1modificar">
		<table align="center" class="table table-striped">
			<input hidden name="id" id="id" value="{{ partediario1.id }}">
			<tr>
				<td>Fecha:</td>
				<td><input type="text" id="fecha" name="fecha" readonly class="datepicker form-control" value="{{ partediario1.fechaf }}"></td>
			</tr>
			<tr>
				<td>Sector:</td>
				<td>
					<select name="sector" id="sector" class="form-control">
						{% for s in sectores %}
							{% if s.id == partediario1.id_sector_fk %}
								<option value="{{ s.id }}" selected>{{ s.nombre }}</option>
							{% else %}
								<option value="{{ s.id }}">{{ s.nombre }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td>Lugar:</td>
				<td>
					<select name="lugar" id="lugar" class="form-control">
						{% for l in lugares %}
							{% if l.id == partediario1.id_lugar_fk %}
								<option value="{{ l.id }}" selected>{{ l.nombre }}</option>
							{% else %}
								<option value="{{ l.id }}">{{ l.nombre }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td>Estado:</td>
				<td>
					<select name="estado" id="estado" class="form-control">
						{% if partediario1.estado == 1 %}
							<option value="1" selected>Abierto</option>
							<option value="0">Cerrado</option>
						{% else %}
							<option value="1">Abierto</option>
							<option value="0" selected>Cerrado</option>
						{% endif %}
					</select>
				</td>
			</tr>
			<tr>
				<td colspan="2"><h4><b>Clasificacion de Horas</b></h4> (Ej: Hrs Insalubres, Hrs Calorias, etc..)</td>
			</tr>
			<tr>
				<td>Clasificacion de Horas N°1</td>
				<td>
					<select name="clasificacion1" id="clasificacion1" class="form-control">
						{% if partediario1.id_clasificacion1_fk == 0 %}
							<option value="0" selected>Sin Usar</option>
							{% for c in clasificaciones %}
								<option value="{{ c.id }}">{{ c.nombre }}</option>
							{% endfor %}
						{% else %}
							<option value="0">Sin Usar</option>
							{% for c in clasificaciones %}
								{% if c.id == partediario1.id_clasificacion1_fk %}
									<option value="{{ c.id }}" selected>{{ c.nombre }}</option>
								{% else %}
									<option value="{{ c.id }}">{{ c.nombre }}</option>
								{% endif %}
							{% endfor %}
						{% endif %}
					</select>
				</td>
			</tr>
			<tr>
				<td>Clasificacion de Horas N°2</td>
				<td>
					<select name="clasificacion2" id="clasificacion2" class="form-control">
						{% if partediario1.id_clasificacion2_fk == 0 %}
							<option value="0" selected>Sin Usar</option>
							{% for c in clasificaciones %}
								<option value="{{ c.id }}">{{ c.nombre }}</option>
							{% endfor %}
						{% else %}
							<option value="0">Sin Usar</option>
							{% for c in clasificaciones %}
								{% if c.id == partediario1.id_clasificacion2_fk %}
									<option value="{{ c.id }}" selected>{{ c.nombre }}</option>
								{% else %}
									<option value="{{ c.id }}">{{ c.nombre }}</option>
								{% endif %}
							{% endfor %}
						{% endif %}
					</select>
				</td>
			</tr>
			<tr>
				<td>Clasificacion de Horas N°3</td>
				<td>
					<select name="clasificacion3" id="clasificacion3" class="form-control">
						{% if partediario1.id_clasificacion3_fk == 0 %}
							<option value="0" selected>Sin Usar</option>
							{% for c in clasificaciones %}
								<option value="{{ c.id }}">{{ c.nombre }}</option>
							{% endfor %}
						{% else %}
							<option value="0">Sin Usar</option>
							{% for c in clasificaciones %}
								{% if c.id == partediario1.id_clasificacion3_fk %}
									<option value="{{ c.id }}" selected>{{ c.nombre }}</option>
								{% else %}
									<option value="{{ c.id }}">{{ c.nombre }}</option>
								{% endif %}
							{% endfor %}
						{% endif %}
					</select>
				</td>
			</tr>
			<tr>
				<td>Clasificacion de Horas N°4</td>
				<td>
					<select name="clasificacion4" id="clasificacion4" class="form-control">
						{% if partediario1.id_clasificacion4_fk == 0 %}
							<option value="0" selected>Sin Usar</option>
							{% for c in clasificaciones %}
								<option value="{{ c.id }}">{{ c.nombre }}</option>
							{% endfor %}
						{% else %}
							<option value="0">Sin Usar</option>
							{% for c in clasificaciones %}
								{% if c.id == partediario1.id_clasificacion4_fk %}
									<option value="{{ c.id }}" selected>{{ c.nombre }}</option>
								{% else %}
									<option value="{{ c.id }}">{{ c.nombre }}</option>
								{% endif %}
							{% endfor %}
						{% endif %}
					</select>
				</td>
			</tr>
			<tr>
				<td>Clasificacion de Horas N°5</td>
				<td>
					<select name="clasificacion5" id="clasificacion5" class="form-control">
						{% if partediario1.id_clasificacion5_fk == 0 %}
							<option value="0" selected>Sin Usar</option>
							{% for c in clasificaciones %}
								<option value="{{ c.id }}">{{ c.nombre }}</option>
							{% endfor %}
						{% else %}
							<option value="0">Sin Usar</option>
							{% for c in clasificaciones %}
								{% if c.id == partediario1.id_clasificacion5_fk %}
									<option value="{{ c.id }}" selected>{{ c.nombre }}</option>
								{% else %}
									<option value="{{ c.id }}">{{ c.nombre }}</option>
								{% endif %}
							{% endfor %}
						{% endif %}
					</select>
				</td>
			</tr>
			<tr>
				<td>Clasificacion de Horas N°6</td>
				<td>
					<select name="clasificacion6" id="clasificacion6" class="form-control">
						{% if partediario1.id_clasificacion6_fk == 0 %}
							<option value="0" selected>Sin Usar</option>
							{% for c in clasificaciones %}
								<option value="{{ c.id }}">{{ c.nombre }}</option>
							{% endfor %}
						{% else %}
							<option value="0">Sin Usar</option>
							{% for c in clasificaciones %}
								{% if c.id == partediario1.id_clasificacion6_fk %}
									<option value="{{ c.id }}" selected>{{ c.nombre }}</option>
								{% else %}
									<option value="{{ c.id }}">{{ c.nombre }}</option>
								{% endif %}
							{% endfor %}
						{% endif %}
					</select>
				</td>
			</tr>
			<tr>
				<td colspan="2"><h4><b>Tipos de Imputacion de Horas</b></h4> (Ej: Mec, Elec, Ed, etc..)</td>
			</tr>
			<tr>
				<td>Tipo de Imputacion de Horas N°1</td>
				<td>
					<select name="imputacion1" id="imputacion1" class="form-control">
						{% if partediario1.id_imputacion1_fk == 0 %}
							<option value="0" selected>Sin Usar</option>
							{% for i in imputaciones %}
								<option value="{{ i.id }}">{{ i.nombre }}</option>
							{% endfor %}
						{% else %}
							<option value="0">Sin Usar</option>
							{% for i in imputaciones %}
								{% if partediario1.id_imputacion1_fk == i.id %}
									<option value="{{ i.id }}" selected>{{ i.nombre }}</option>
								{% else %}
									<option value="{{ i.id }}">{{ i.nombre }}</option>
								{% endif %}
							{% endfor %}
						{% endif %}
					</select>
				</td>
			</tr>
			<tr>
				<td>Tipo de Imputacion de Horas N°2</td>
				<td>
					<select name="imputacion2" id="imputacion2" class="form-control">
						{% if partediario1.id_imputacion2_fk == 0 %}
							<option value="0" selected>Sin Usar</option>
							{% for i in imputaciones %}
								<option value="{{ i.id }}">{{ i.nombre }}</option>
							{% endfor %}
						{% else %}
							<option value="0">Sin Usar</option>
							{% for i in imputaciones %}
								{% if partediario1.id_imputacion2_fk == i.id %}
									<option value="{{ i.id }}" selected>{{ i.nombre }}</option>
								{% else %}
									<option value="{{ i.id }}">{{ i.nombre }}</option>
								{% endif %}
							{% endfor %}
						{% endif %}
					</select>
				</td>
			</tr>
			<tr>
				<td>Tipo de Imputacion de Horas N°3</td>
				<td>
					<select name="imputacion3" id="imputacion3" class="form-control">
						{% if partediario1.id_imputacion3_fk == 0 %}
							<option value="0" selected>Sin Usar</option>
							{% for i in imputaciones %}
								<option value="{{ i.id }}">{{ i.nombre }}</option>
							{% endfor %}
						{% else %}
							<option value="0">Sin Usar</option>
							{% for i in imputaciones %}
								{% if partediario1.id_imputacion3_fk == i.id %}
									<option value="{{ i.id }}" selected>{{ i.nombre }}</option>
								{% else %}
									<option value="{{ i.id }}">{{ i.nombre }}</option>
								{% endif %}
							{% endfor %}
						{% endif %}
					</select>
				</td>
			</tr>
			<tr>
				<td>Tipo de Imputacion de Horas N°4</td>
				<td>
					<select name="imputacion4" id="imputacion4" class="form-control">
						{% if partediario1.id_imputacion4_fk == 0 %}
							<option value="0" selected>Sin Usar</option>
							{% for i in imputaciones %}
								<option value="{{ i.id }}">{{ i.nombre }}</option>
							{% endfor %}
						{% else %}
							<option value="0">Sin Usar</option>
							{% for i in imputaciones %}
								{% if partediario1.id_imputacion4_fk == i.id %}
									<option value="{{ i.id }}" selected>{{ i.nombre }}</option>
								{% else %}
									<option value="{{ i.id }}">{{ i.nombre }}</option>
								{% endif %}
							{% endfor %}
						{% endif %}
					</select>
				</td>
			</tr>
			<tr>
				<td>Tipo de Imputacion de Horas N°5</td>
				<td>
					<select name="imputacion5" id="imputacion5" class="form-control">
						{% if partediario1.id_imputacion5_fk == 0 %}
							<option value="0" selected>Sin Usar</option>
							{% for i in imputaciones %}
								<option value="{{ i.id }}">{{ i.nombre }}</option>
							{% endfor %}
						{% else %}
							<option value="0">Sin Usar</option>
							{% for i in imputaciones %}
								{% if partediario1.id_imputacion5_fk == i.id %}
									<option value="{{ i.id }}" selected>{{ i.nombre }}</option>
								{% else %}
									<option value="{{ i.id }}">{{ i.nombre }}</option>
								{% endif %}
							{% endfor %}
						{% endif %}
					</select>
				</td>
			</tr>
			<tr>
				<td>Tipo de Imputacion de Horas N°6</td>
				<td>
					<select name="imputacion6" id="imputacion6" class="form-control">
						{% if partediario1.id_imputacion6_fk == 0 %}
							<option value="0" selected>Sin Usar</option>
							{% for i in imputaciones %}
								<option value="{{ i.id }}">{{ i.nombre }}</option>
							{% endfor %}
						{% else %}
							<option value="0">Sin Usar</option>
							{% for i in imputaciones %}
								{% if partediario1.id_imputacion6_fk == i.id %}
									<option value="{{ i.id }}" selected>{{ i.nombre }}</option>
								{% else %}
									<option value="{{ i.id }}">{{ i.nombre }}</option>
								{% endif %}
							{% endfor %}
						{% endif %}
					</select>
				</td>
			</tr>
			<tr>
				<td><input type="button" value="Atras" onclick="history.back()"></td>
				<td><input type="submit" value="Guardar"></td>
			</tr>
		</table>
	</form>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>
<script src="/js/jquery.limit-1.2.js"></script>
<script type="text/javascript">
	$(".datepicker").datepicker({
		format: 'dd/mm/yyyy',
		autoclose: true,
		language: 'es'
	});
</script>
{% endblock %}