	{% extends 'template.html' %}

	{% block title %}
		{{ pagename }}
	{% endblock %}

	{% block content %}
	<link href="/css/partediario1alta.css" rel="stylesheet">
	<h2>{{ pagename }}</h2>
	<div class="panel panel-default">
		<form method="post" id="formalta" action="/partediario1alta">
			<table align="center" class="table table-striped">
				<tr>
					<td>Fecha:</td>
					<td><input type="text" id="fecha" name="fecha" readonly class="datepicker form-control"></td>
				</tr>
				<tr>
					<td>Contrato:</td>
					<td>
						<select name="contrato" id="contrato" class="form-control">
							{% for c in contratos %}
								<option value="{{ c.id }}">{{ c.nombre }} {{c.numero}}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td>Sector:</td>
					<td>
						<select name="sector" id="sector" class="form-control">
							{% for s in sectores %}
								{% if s.id == 7 %}
									<option value="{{ s.id }}" selected>{{ s.nombre }}</option>
								{% else %}
									<option value="{{ s.id }}">{{ s.nombre }}</option>
								{% endif %}
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td>Lugar:</td>
					<td>
						<select name="lugar" id="lugar" class="form-control">
							<option selected value='0'>Seleccione un Lugar</option>
							{% for l in lugares %}
								<option value="{{ l.id }}">{{ l.nombre }}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td>Turno:</td>
					<td>
						<select name="turno" id="turno" class="form-control">
							<option value="0" selected>Seleccione un Turno</option>
							{% for t in turnos %}
								<option value="{{ t.id }}">{{ t.codigo }}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td colspan="2"><h4><b>Horas Adicionales</b></h4> (Ej: Hrs Insalubres, Hrs Calorias, etc..)</td>
				</tr>
				<tr>
					<td>Hora Adicional N°1</td>
					<td>
						<select name="clasificacion1" id="clasificacion1" class="form-control">
							<option value="0">Sin Usar</option>
							{% for c in clasificaciones %}
								{% if c.id == 9 %}
									<option selected value="{{ c.id }}">{{ c.nombre }}</option>
								{% else %}
									<option value="{{ c.id }}">{{ c.nombre }}</option>
								{% endif %}
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td>Hora Adicional N°2</td>
					<td>
						<select name="clasificacion2" id="clasificacion2" class="form-control">
							<option value="0">Sin Usar</option>
							{% for c in clasificaciones %}
								{% if c.id == 10 %}
									<option selected value="{{ c.id }}">{{ c.nombre }}</option>
								{% else %}
									<option value="{{ c.id }}">{{ c.nombre }}</option>
								{% endif %}
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td>Hora Adicional N°3</td>
					<td>
						<select name="clasificacion3" id="clasificacion3" class="form-control">
							<option value="0">Sin Usar</option>
							{% for c in clasificaciones %}
								{% if c.id == 11 %}
									<option selected value="{{ c.id }}">{{ c.nombre }}</option>
								{% else %}
									<option value="{{ c.id }}">{{ c.nombre }}</option>
								{% endif %}
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td>Hora Adicional N°4</td>
					<td>
						<select name="clasificacion4" id="clasificacion4" class="form-control">
							<option value="0">Sin Usar</option>
							{% for c in clasificaciones %}
								{% if c.id == 12 %}
									<option selected value="{{ c.id }}">{{ c.nombre }}</option>
								{% else %}
									<option value="{{ c.id }}">{{ c.nombre }}</option>
								{% endif %}
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td>Hora Adicional N°5</td>
					<td>
						<select name="clasificacion5" id="clasificacion5" class="form-control">
							<option value="0">Sin Usar</option>
							{% for c in clasificaciones %}
								{% if c.id == 20 %}
									<option selected value="{{ c.id }}">{{ c.nombre }}</option>
								{% else %}
									<option value="{{ c.id }}">{{ c.nombre }}</option>
								{% endif %}
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td>Hora Adicional N°6</td>
					<td>
						<select name="clasificacion6" id="clasificacion6" class="form-control">
							<option value="0">Sin Usar</option>
							{% for c in clasificaciones %}
								{% if c.id == 24 %}
									<option selected value="{{ c.id }}">{{ c.nombre }}</option>
								{% else %}
									<option value="{{ c.id }}">{{ c.nombre }}</option>
								{% endif %}
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td colspan="2"><h4><b>Items</b></h4> (Ej: Mec, Elec, Ed, etc..)</td>
				</tr>
				<tr>
					<td>Item N°1</td>
					<td>
						<select name="imputacion1" id="imputacion1" class="items form-control">
							<option value="0">Sin Usar</option>
							{% for i in imputaciones %}
								<option value="{{ i.id }}">{{ i.numero }} - {{ i.nombre }}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td>Item N°2</td>
					<td>
						<select name="imputacion2" id="imputacion2" class="items form-control">
							<option value="0">Sin Usar</option>
							{% for i in imputaciones %}
								<option value="{{ i.id }}">{{ i.numero }} - {{ i.nombre }}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td>Item N°3</td>
					<td>
						<select name="imputacion3" id="imputacion3" class="items form-control">
							<option value="0">Sin Usar</option>
							{% for i in imputaciones %}
								<option value="{{ i.id }}">{{ i.numero }} - {{ i.nombre }}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td>Item N°4</td>
					<td>
						<select name="imputacion4" id="imputacion4" class="items form-control">
							<option value="0">Sin Usar</option>
							{% for i in imputaciones %}
								<option value="{{ i.id }}">{{ i.numero }} - {{ i.nombre }}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td>Item N°5</td>
					<td>
						<select name="imputacion5" id="imputacion5" class="items form-control">
							<option value="0">Sin Usar</option>
							{% for i in imputaciones %}2
								<option value="{{ i.id }}">{{ i.numero }} - {{ i.nombre }}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td>Item N°6</td>
					<td>
						<select name="imputacion6" id="imputacion6" class="items form-control">
							<option value="0">Sin Usar</option>
							{% for i in imputaciones %}
								<option value="{{ i.id }}">{{ i.numero }} - {{ i.nombre }}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td><input type="button" value="Atras" onclick="history.back()"></td>
					<td><input type="submit" value="Agregar"></td>
				</tr>
			</table>
		</form>
	</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>
<script src="/js/jquery.limit-1.2.js"></script>
<script type="text/javascript">
	$(".datepicker").datepicker({
		format: 'dd/mm/yyyy',
		autoclose: true,
		language: 'es'
	});

	$(function(){
		var myDate = new Date(); 

		day = myDate.getDate();
		if (day<10)
			day = "0"+day;
		month = myDate.getMonth() +1;
		if (month<10)
			month = "0"+month
		myDate = day + "/" + month + "/" + myDate.getFullYear();
		console.log(myDate)
		$("#fecha").val(myDate)
	});
	

	$("#sector").on("change", function(){
		var sectorid = $("#sector").val()
		$("#lugar").empty()
		$("#lugar").append("<option selected value='0'>Seleccione un Lugar</option>");
		$.getJSON("/lugargetbysectorid/"+sectorid, function (lugares){
			$.each(lugares, function (i, value){
				$("#lugar").append("<option value='"+value.id+"'>"+value.nombre+"</option>");
			});
		});

		$("#turno").empty();
		$("#turno").append("<option selected value='0'>Seleccione un Turno</option>");
		$.getJSON("/getturnobysectorid/"+sectorid, function (turnos){
			$.each(turnos, function (i, value){
				$("#turno").append("<option value='"+value.id+"'>"+value.codigo+"</option>");
			});
		});

		//hacer lo mismo para los 6 combos de items
		$(".items").empty();
		$(".items").append("<option selected value='0'>Seleccione un Item</option>")
		$.getJSON("/getitemsgeneralesandbysector/"+sectorid, function (itemsgenyporsector){
			console.log("items: "+itemsgenyporsector.length);
			$.each(itemsgenyporsector, function (i, value){
				$(".items").append("<option value='"+value.id+"'>"+value.numero+" - "+value.nombre+"</option>");
			});
		});
	});



	//EJ:
	// $('#cmbCliente').on('change', function() {
	// 	RefrescaCombo(this.value);
	// });

	// $('#envase').on('change', function(){
	// 	TraerCapacidad(this.value, function (err, data){
	// 		capacidad = data.capacidad;
	// 		calcula();
	// 	});
	// });
	// function RefrescaCombo(value){
	// 	$('#cmbMatep').empty();
	// 	$("#cmbMatep").append("<option selected value='0'>Seleccione una Materia Prima</option>")
	// 	$.getJSON('/'+ value + '/materiasprimas', function (data){
	// 		$.each(data, function (i, value){
	// 			$('#cmbMatep').append('<option value=' + value.id + ' data-u='+value.usacinta +'>' + value.nombre + '</option>' );
	// 		});
	// 	});
	// }

</script>
{% endblock %}