{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<h2>{{ pagename }}</h2>
<div class="panel panel-default">
  <!-- Default panel contents -->
  	<div class="panel-heading">
  	<!-- Table -->
		<table>
		<tr>	
			<td><a href="/inicio"> <button type="button" class="btn btn-primary">Atras</button></a></td>
			<td><a href="/partediario1alta"><button type="button" class="btn btn-success">Agregar Nuevo</button></a></td>
			<td><button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Ayuda</button></td>
		</tr>	
		</table>
		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  	<div class="modal-dialog">
			    <div class="modal-content">
			      	<div class="modal-header">
			        	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			        	<h4 class="modal-title" id="myModalLabel">{{ ayuda.titulo }}</h4>
			      	</div>
			      	<div class="modal-body">
			        	{{ ayuda.texto }}
			      	</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
		      		</div>
		    	</div>
		  	</div>
		</div>	
	</div>
	<div class="row">
		<div class="col-xs-12">
			<table class="table table-striped">
		  		<thead>
		  			<tr>
		  				<th colspan="4">Opciones</th>
						<th>ID</th>
						<th>Fecha</th>
						<th>Sector</th>
						<th>Lugar</th>
						<th>Turno</th>
						<th>Estado</th>
					</tr>
		  		</thead>
		  		<tbody>
		  			{% for p in partediario1s %}
						<tr>
							<td><a href=""><button type="button" class="btn btn-default" onclick="alert('Proximamente');">Abrir/Cerrar</button></a></td>
							<td><a href="/partediario2lista/{{ p.id }}"><button type="button" class="btn btn-default">Ver</button></a></td>	
							<td><a href="/partediario1modificar/{{ p.id }}"><button class="btn btn-warning">Modificar</button></a></td>
							<td><a href='/partediario1borrar/{{ p.id }}' onclick="if (!confirm('¿Seguro desea eliminar? Está a punto de eliminar TODO lo relacionado a este Parte Diario')) return false;"><button type="button" class="btn btn-danger">Eliminar</button><a/></td>
							<td>{{ p.id}}</td>
							<td>{{ p.fechaf }}</td>
							<td>{{ p.sectortxt }}</td>
							<td>{{ p.lugartxt }}</td>
							<td>{{ p.turnotxt }}
							<td>
								{% if p.estado == 1 %}
									Abierto
								{% else %}
									Cerrado
								{% endif %}
							</td>
						</tr>
					{% endfor %}
		  		</tbody>
			</table>
		</div><!--div col xs12 -->
	</div><!--div row -->
</div>
{% endblock %}