	{% extends 'template.html' %}

	{% block title %}
		{{ pagename }}
	{% endblock %}

	{% block content %}
	<link href="/css/partediario1alta.css" rel="stylesheet">
	<h2>{{ pagename }}</h2>
	<form method="post" id="formalta" action="/partediario1alta">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4><b>Información General</b></h4>
			</div>
			<table align="center" class="table table-striped">
				<tr>
					<td>Fecha:</td>
					<td><input type="text" id="fecha" name="fecha" readonly class="datepicker form-control"></td>
				</tr>
				<tr>
					<td>Contrato:</td>
					<td>
						<select name="contrato" id="contrato" class="form-control">
							{% for c in contratos %}
								<option value="{{ c.id }}">{{ c.nombre }} {{c.numero}}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td>Sector:</td>
					<td>
						<select name="sector" id="sector" class="form-control">
							{% for s in sectores %}
								{% if s.id == 7 %}
									<option value="{{ s.id }}" selected>{{ s.nombre }}</option>
								{% else %}
									<option value="{{ s.id }}">{{ s.nombre }}</option>
								{% endif %}
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td>Lugar:</td>
					<td>
						<select name="lugar" id="lugar" class="form-control">
							<option selected value='0'>Seleccione un Lugar</option>
							{% for l in lugares %}
								<option value="{{ l.id }}">{{ l.nombre }}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td>Turno:</td>
					<td>
						<select name="turno" id="turno" class="form-control">
							<option value="0" selected>Seleccione un Turno</option>
							{% for t in turnos %}
								<option value="{{ t.id }}">{{ t.codigo }}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td>Llenar empleados por Plantilla:</td>
					<td>
						<select name="plantilla" id="plantilla" class="form-control">
							<option value="0">Cargar empleados por sector y turno</option>
							{% for p in plantillas %}
								<option value="{{ p.id }}">{{ p.nombre }}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
					<!-- <td colspan="2">
					    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
						    <div class="panel">
						        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						        	<div class="panel-heading btn btn-info" role="tab" id="headingOne" style="width: 100%; text-align: left;">
						          		<h4 class="panel-title">Cargar empleados por sector, lugar y turno</h4>
						        	</div>
						    	</a>
						        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
					            	<table align="center" class="table table-striped">
					            		
					            	</table>
						        </div>
						    </div>
						    <div class="panel">
						        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						        	<div class="panel-heading btn btn-info" role="tab" id="headingTwo" style="width: 100%; text-align: left;">
							          	<h4 class="panel-title">Cargar empleados por plantilla</h4>
						        	</div>
						    	</a>
						        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
						            <table align="center" class="table table-striped">
					            		<tr>
											<td>Plantilla:</td>
											<td>
												<select name="plantilla" id="plantilla" class="form-control">
													<option value="0">Seleccione una plantilla</option>
													{% for p in plantillas %}
														<option value="{{ p.id }}">{{ p.nombre }}</option>
													{% endfor %}
												</select>
											</td>
										</tr>
									</table>
						        </div>
						    </div>
						</div>
					</td> -->							
			</table>
		</div>

		<div class="panel panel-success">
			<div class="panel-heading">
				<h4><b>Horas Adicionales</b></h4> 
				(Ej: Hrs Insalubres, Hrs Calorias, etc..)
			</div>
			<table class="table table-striped">
				<tr>
					<td>Hora Adicional N°1</td>
					<td>Calorias
						<!-- <select name="clasificacion1" id="clasificacion1" class="form-control">
							<option value="0">Sin Usar</option>
							{% for c in clasificaciones %}
								{% if c.id == 9 %}
									<option selected value="{{ c.id }}">{{ c.nombre }}</option>
								{% else %}
									<option value="{{ c.id }}">{{ c.nombre }}</option>
								{% endif %}
							{% endfor %}
						</select> -->
					</td>
				</tr>
				<tr>
					<td>Hora Adicional N°2</td>
					<td>Peligrosa
						<!-- <select name="clasificacion2" id="clasificacion2" class="form-control">
							<option value="0">Sin Usar</option>
							{% for c in clasificaciones %}
								{% if c.id == 10 %}
									<option selected value="{{ c.id }}">{{ c.nombre }}</option>
								{% else %}
									<option value="{{ c.id }}">{{ c.nombre }}</option>
								{% endif %}
							{% endfor %}
						</select> -->
					</td>
				</tr>
				<tr>
					<td>Hora Adicional N°3</td>
					<td>Polucion
						<!-- <select name="clasificacion3" id="clasificacion3" class="form-control">
							<option value="0">Sin Usar</option>
							{% for c in clasificaciones %}
								{% if c.id == 11 %}
									<option selected value="{{ c.id }}">{{ c.nombre }}</option>
								{% else %}
									<option value="{{ c.id }}">{{ c.nombre }}</option>
								{% endif %}
							{% endfor %}
						</select> -->
					</td>
				</tr>
				<tr>
					<td>Hora Adicional N°4</td>
					<td>Termo
						<!-- select name="clasificacion4" id="clasificacion4" class="form-control">
							<option value="0">Sin Usar</option>
							{% for c in clasificaciones %}
								{% if c.id == 12 %}
									<option selected value="{{ c.id }}">{{ c.nombre }}</option>
								{% else %}
									<option value="{{ c.id }}">{{ c.nombre }}</option>
								{% endif %}
							{% endfor %}
						</select> -->
					</td>
				</tr>
				<tr>
					<td>Hora Adicional N°5</td>
					<td>Insalubres
						<!-- <select name="clasificacion5" id="clasificacion5" class="form-control">
							<option value="0">Sin Usar</option>
							{% for c in clasificaciones %}
								{% if c.id == 20 %}
									<option selected value="{{ c.id }}">{{ c.nombre }}</option>
								{% else %}
									<option value="{{ c.id }}">{{ c.nombre }}</option>
								{% endif %}
							{% endfor %}
						</select> -->
					</td>
				</tr>
				<tr>
					<td>Hora Adicional N°6</td>
					<td>Nocturnas
						<!-- <select name="clasificacion6" id="clasificacion6" class="form-control">
							<option value="0">Sin Usar</option>
							{% for c in clasificaciones %}
								{% if c.id == 24 %}
									<option selected value="{{ c.id }}">{{ c.nombre }}</option>
								{% else %}
									<option value="{{ c.id }}">{{ c.nombre }}</option>
								{% endif %}
							{% endfor %}
						</select> -->
					</td>
				</tr>
			</table>
		</div>

		<div class="panel panel-warning">
			<div class="panel-heading">
				<h4><b>Items</b></h4>
				(Ej: Mec, Elec, Ed, etc..)
			</div>
			<table class="table table-striped">
				<tr>
					<td>Item N°1</td>
					<td>
						<select name="imputacion1" id="imputacion1" class="items form-control">
							<option value="0">Sin Usar</option>
							{% for i in imputaciones %}
								<option value="{{ i.id }}">{{ i.numero }} - {{ i.nombre }}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td>Item N°2</td>
					<td>
						<select name="imputacion2" id="imputacion2" class="items form-control">
							<option value="0">Sin Usar</option>
							{% for i in imputaciones %}
								<option value="{{ i.id }}">{{ i.numero }} - {{ i.nombre }}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td>Item N°3</td>
					<td>
						<select name="imputacion3" id="imputacion3" class="items form-control">
							<option value="0">Sin Usar</option>
							{% for i in imputaciones %}
								<option value="{{ i.id }}">{{ i.numero }} - {{ i.nombre }}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td>Item N°4</td>
					<td>
						<select name="imputacion4" id="imputacion4" class="items form-control">
							<option value="0">Sin Usar</option>
							{% for i in imputaciones %}
								<option value="{{ i.id }}">{{ i.numero }} - {{ i.nombre }}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td>Item N°5</td>
					<td>
						<select name="imputacion5" id="imputacion5" class="items form-control">
							<option value="0">Sin Usar</option>
							{% for i in imputaciones %}2
								<option value="{{ i.id }}">{{ i.numero }} - {{ i.nombre }}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td>Item N°6</td>
					<td>
						<select name="imputacion6" id="imputacion6" class="items form-control">
							<option value="0">Sin Usar</option>
							{% for i in imputaciones %}
								<option value="{{ i.id }}">{{ i.numero }} - {{ i.nombre }}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td>Item N°7</td>
					<td>
						<select name="imputacion7" id="imputacion7" class="items form-control">
							<option value="0">Sin Usar</option>
							{% for i in imputaciones %}
								<option value="{{ i.id }}">{{ i.numero }} - {{ i.nombre }}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td>Item N°8</td>
					<td>
						<select name="imputacion8" id="imputacion8" class="items form-control">
							<option value="0">Sin Usar</option>
							{% for i in imputaciones %}
								<option value="{{ i.id }}">{{ i.numero }} - {{ i.nombre }}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td>Item N°9</td>
					<td>
						<select name="imputacion9" id="imputacion9" class="items form-control">
							<option value="0">Sin Usar</option>
							{% for i in imputaciones %}
								<option value="{{ i.id }}">{{ i.numero }} - {{ i.nombre }}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td>Item N°10</td>
					<td>
						<select name="imputacion10" id="imputacion10" class="items form-control">
							<option value="0">Sin Usar</option>
							{% for i in imputaciones %}
								<option value="{{ i.id }}">{{ i.numero }} - {{ i.nombre }}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td>Item N°11</td>
					<td>
						<select name="imputacion11" id="imputacion11" class="items form-control">
							<option value="0">Sin Usar</option>
							{% for i in imputaciones %}
								<option value="{{ i.id }}">{{ i.numero }} - {{ i.nombre }}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td>Item N°12</td>
					<td>
						<select name="imputacion12" id="imputacion12" class="items form-control">
							<option value="0">Sin Usar</option>
							{% for i in imputaciones %}
								<option value="{{ i.id }}">{{ i.numero }} - {{ i.nombre }}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
			</table>
		</div>
		<div class="panel panel-default">
			<table class="table">
				<tr>
					<td><input class="btn btn-default" type="button" value="Atras" onclick="history.back()"></td>
					<td><input class="btn btn-default" type="submit" value="Agregar"></td>
				</tr>
			</table>
		</div>
	</form>
	
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>
<script src="/js/jquery.limit-1.2.js"></script>
<script type="text/javascript">
	$(".datepicker").datepicker({
		format: 'dd/mm/yyyy',
		autoclose: true,
		language: 'es'
	});

	$(function(){
		var myDate = new Date(); 

		day = myDate.getDate();
		if (day<10)
			day = "0"+day;
		month = myDate.getMonth() +1;
		if (month<10)
			month = "0"+month
		myDate = day + "/" + month + "/" + myDate.getFullYear();
		console.log(myDate)
		$("#fecha").val(myDate)
	});
	

	$("#sector").on("change", function(){
		var sectorid = $("#sector").val()
		$("#lugar").empty()
		$("#lugar").append("<option selected value='0'>Seleccione un Lugar</option>");
		$.getJSON("/lugargetbysectorid/"+sectorid, function (lugares){
			$.each(lugares, function (i, value){
				$("#lugar").append("<option value='"+value.id+"'>"+value.nombre+"</option>");
			});
		});

		$("#turno").empty();
		$("#turno").append("<option selected value='0'>Seleccione un Turno</option>");
		$.getJSON("/getturnobysectorid/"+sectorid, function (turnos){
			$.each(turnos, function (i, value){
				$("#turno").append("<option value='"+value.id+"'>"+value.codigo+"</option>");
			});
		});

		//hacer lo mismo para los 6 combos de items
		$(".items").empty();
		$(".items").append("<option selected value='0'>Seleccione un Item</option>")
		$.getJSON("/getitemsgeneralesandbysector/"+sectorid, function (itemsgenyporsector){
			console.log("items: "+itemsgenyporsector.length);
			$.each(itemsgenyporsector, function (i, value){
				$(".items").append("<option value='"+value.id+"'>"+value.numero+" - "+value.nombre+"</option>");
			});
		});
	});



	//EJ:
	// $('#cmbCliente').on('change', function() {
	// 	RefrescaCombo(this.value);
	// });

	// $('#envase').on('change', function(){
	// 	TraerCapacidad(this.value, function (err, data){
	// 		capacidad = data.capacidad;
	// 		calcula();
	// 	});
	// });
	// function RefrescaCombo(value){
	// 	$('#cmbMatep').empty();
	// 	$("#cmbMatep").append("<option selected value='0'>Seleccione una Materia Prima</option>")
	// 	$.getJSON('/'+ value + '/materiasprimas', function (data){
	// 		$.each(data, function (i, value){
	// 			$('#cmbMatep').append('<option value=' + value.id + ' data-u='+value.usacinta +'>' + value.nombre + '</option>' );
	// 		});
	// 	});
	// }

</script>
{% endblock %}