{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<link href="/css/partediario2lista.css" rel="stylesheet">
<h2>{{ pagename }} en Parte Diario </h2>Fecha: <b>{{ partediario1.fechaf }}</b> Sector: <b>{{ partediario1.sectortxt }}</b> Lugar: <b>{{ partediario1.lugartxt }}</b>
<div class="panel panel-default">
  <!-- Default panel contents -->
  	<div class="panel-heading">
  	<!-- Table -->
		<table>
			<tr>	
				<td><a href="/partediario1lista"> <button type="button" class="btn btn-primary">Atras</button></a></td>
				<td><a href="/partediario2alta/{{ partediario1.id }}"> <button type="button" class="btn btn-success">Agregar Nuevo Empleado</button></a></td>
			</tr>	
		</table>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div style="overflow: scroll;">
				<form method="POST" id="formlista" action="/partediario2lista">
					<input hidden id="idpartediario1" name="idpartediario1" value="{{ partediario1.id }}">
				  	<table class="table table-striped">
						<tr>
							<th colspan="2">Opciones</th>
							<th>ID</th>
							<th><div style="width: 30px">N°</div></th>
							<th>Legajo</th>
							<th><div style="width: 100px">Nombre</div></th>
							<th>Cod.</th>
							<th>Entrada</th>
							<th>Salida</th>
							<th>Total</th>
							<th>Tipo Hora</th>
							{% if partediario1.id_clasificacion1_fk != 0 %}
								<th>{{ partediario1.clasificacion1txt }}</th>
							{% else %}
								<th>Sin Usar</th>
							{% endif %}
							{% if partediario1.id_clasificacion2_fk != 0 %}
								<th>{{ partediario1.clasificacion2txt }}</th>
							{% else %}
								<th>Sin Usar</th>
							{% endif %}
							{% if partediario1.id_clasificacion3_fk != 0 %}
								<th>{{ partediario1.clasificacion3txt }}</th>
							{% else %}
								<th>Sin Usar</th>
							{% endif %}
							{% if partediario1.id_clasificacion4_fk != 0 %}
								<th>{{ partediario1.clasificacion4txt }}</th>
							{% else %}
								<th>Sin Usar</th>
							{% endif %}
							{% if partediario1.id_clasificacion5_fk != 0 %}
								<th>{{ partediario1.clasificacion5txt }}</th>
							{% else %}
								<th>Sin Usar</th>
							{% endif %}
							{% if partediario1.id_clasificacion6_fk != 0 %}
								<th>{{ partediario1.clasificacion6txt }}</th>
							{% else %}
								<th>Sin Usar</th>
							{% endif %}
							{% if partediario1.id_imputacion1_fk != 0 %}
								<th>{{ partediario1.imputacion1txt }}</th>
							{% else %}
								<th>Sin Usar</th>
							{% endif %}
							{% if partediario1.id_imputacion2_fk != 0 %}
								<th>{{ partediario1.imputacion2txt }}</th>
							{% endif %}
							{% if partediario1.id_imputacion3_fk != 0 %}
								<th>{{ partediario1.imputacion3txt }}</th>
							{% else %}
								<th>Sin Usar</th>
							{% endif %}
							{% if partediario1.id_imputacion4_fk != 0 %}
								<th>{{ partediario1.imputacion4txt }}</th>
							{% else %}
								<th>Sin Usar</th>
							{% endif %}
							{% if partediario1.id_imputacion5_fk != 0 %}
								<th>{{ partediario1.imputacion5txt }}</th>
							{% else %}
								<th>Sin Usar</th>
							{% endif %}
							{% if partediario1.id_imputacion6_fk != 0 %}
								<th>{{ partediario1.imputacion6txt }}</th>
							{% else %}
								<th>Sin Usar</th>
							{% endif %}
						</tr>
						{% for p2 in partediario2s %}
							<tr>
								<td>
									<button name="btnSaverow" id="btnSaveRow" class="btn btn-default"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true" title="Guardar Fila"></span></button>
								</td>
								<td>
									<a href='/partediario2borrar/{{ p2.id }}' onclick="if (!confirm('¿Seguro desea eliminar?')) return false;"><button type="button" class="btn btn-danger">Eliminar</button><a/>
								</td>
								<td><input hidden name="idpartediario2" id="ipartediario2" value="{{ p2.id }}">{{ p2.id }}</td>
								<td>{{ p2.numero }}</td>
								<td><input hidden name="idemple" id="idemple" value="{{ p2.id_emple_fk }}">{{ p2.legajo }}</td>
								<td>{{ p2.nombre }}</td>
								<td><input type="text" name="codigohora" id="codigohora" data-idpdos="{{ p2.id }}" value="{{ p2.id_codigohora_fk }}" onkeypress='validate(event)'></td>
								<td><input type="text" name="entrada" id="entrada" data-idpdos="{{ p2.id }}" value="{{ p2.hr_entrada }}" onkeypress='validate(event)'></td>
								<td><input type="text" name="salida" id="salida" data-idpdos="{{ p2.id }}" value="{{ p2.hr_salida }}" onkeypress='validate(event)'></td>
								<td><input type="text" id="total" name="total" data-idpdos="{{ p2.id }}" value="{{ p2.hr_total }}" onkeypress='validate(event)'></td>
								<!-- <td></td> -->
								<td>
									<select name="tipohora" id="tipohora">
										{% for t in tipohoras %}
											{% if p2.id_tipohora_fk == t.id %}
												<option value="{{ t.id }}" selected>{{ t.nombre }}</option>
											{% else %}
												<option value="{{ t.id }}">{{ t.nombre }}</option>
											{% endif %}
										{% endfor %}
									</select>
								</td>
								{% if partediario1.id_clasificacion1_fk != 0 %}
									<td><input type="text" class="clasificacion" name="clasificacion1" id="clasificacion1" value="{{ p2.hrclasificacion1 }}" onkeypress='validate(event)'></td>
								{% else %}
									<td></td>
								{% endif %}
								{% if partediario1.id_clasificacion2_fk != 0 %}
									<td><input type="text" class="clasificacion" name="clasificacion2" id="clasificacion2" value="{{ p2.hrclasificacion2 }}" onkeypress='validate(event)'></td>
								{% else %}
									<td></td>
								{% endif %}
								{% if partediario1.id_clasificacion3_fk != 0 %}
									<td><input type="text" class="clasificacion" name="clasificacion3" id="clasificacion3" value="{{ p2.hrclasificacion3 }}" onkeypress='validate(event)'></td>
								{% else %}
									<td></td>
								{% endif %}
								{% if partediario1.id_clasificacion4_fk != 0 %}
									<td><input type="text" class="clasificacion" name="clasificacion4" id="clasificacion4" value="{{ p2.hrclasificacion4 }}" onkeypress='validate(event)'></td>
								{% else %}
									<td></td>
								{% endif %}
								{% if partediario1.id_clasificacion5_fk != 0 %}
									<td><input type="text" class="clasificacion" name="clasificacion5" id="clasificacion5" value="{{ p2.hrclasificacion5 }}" onkeypress='validate(event)'></td>
								{% else %}
									<td></td>
								{% endif %}
								{% if partediario1.id_clasificacion6_fk != 0 %}
									<td><input type="text" class="clasificacion" name="clasificacion6" id="clasificacion6" value="{{ p2.hrclasificacion6 }}" onkeypress='validate(event)'></td>
								{% else %}
									<td></td>
								{% endif %}
								{% if partediario1.id_imputacion1_fk != 0 %}
									<td><input type="text" class="imputacion" name="imputacion1" id="imputacion1" value="{{ p2.hrimputacion1 }}" onkeypress='validate(event)'></td>
								{% else %}
									<td></td>
								{% endif %}
								{% if partediario1.id_imputacion2_fk != 0 %}
									<td><input type="text" class="imputacion" name="imputacion2" id="imputacion2" value="{{ p2.hrimputacion2 }}" onkeypress='validate(event)'></td>
								{% else %}
									<td></td>
								{% endif %}
								{% if partediario1.id_imputacion3_fk != 0 %}
									<td><input type="text" class="imputacion" name="imputacion3" id="imputacion3" value="{{ p2.hrimputacion3 }}" onkeypress='validate(event)'></td>
								{% else %}
									<td></td>
								{% endif %}
								{% if partediario1.id_imputacion4_fk != 0 %}
									<td><input type="text" class="imputacion" name="imputacion4" id="imputacion4" value="{{ p2.hrimputacion4 }}" onkeypress='validate(event)'></td>
								{% else %}
									<td></td>
								{% endif %}
								{% if partediario1.id_imputacion5_fk != 0 %}
									<td><input type="text" class="imputacion" name="imputacion5" id="imputacion5" value="{{ p2.hrimputacion5 }}" onkeypress='validate(event)'></td>
								{% else %}
									<td></td>
								{% endif %}
								{% if partediario1.id_imputacion6_fk != 0 %}
									<td><input type="text" class="imputacion" name="imputacion6" id="imputacion6" value="{{ p2.hrimputacion6 }}" onkeypress='validate(event)'></td>
								{% else %}
									<td></td>
								{% endif %}
							</tr>
						{% endfor %}
						<tr>
							<td colspan="2"><input type="submit" value="Guardar Todo y Salir"></td>
							<td colspan="21"></td>
						</tr>	 
				  	</table>
				  </form>				
			</div><!--div col xs12 -->
		</div>
	</div><!--div row -->
</div>
<!-- <input type='text' onkeypress='validate(event)' /> -->
<script src="/js/jquery.min.js"></script>
<script type="text/javascript">

function validate(evt) {
  var theEvent = evt || window.event;
  var key = theEvent.keyCode || theEvent.which;
  key = String.fromCharCode( key );
  var regex = /[0-9]|\./;
  if( !regex.test(key) ) {
    theEvent.returnValue = false;
    if(theEvent.preventDefault) theEvent.preventDefault();
  }
}

$("#entrada").focusout(function() {
	var entrada = document.getElementById('entrada');
	var idp2 = entrada.getAttribute('data-idpdos');
	var txt = entrada.value;
	console.log(entrada);
	console.log(txt);
	console.log(idp2);
	$.ajax({
		url:'/saverow', 
		data: {
			entrada: entrada,
			txt: txt,
			idp2: idp2
		}, 
		method:'POST'
	});
});
</script>
{% endblock %}