{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<h2>{{ pagename }}</h2>
<div class="panel panel-default">
<!-- 	<form method="post" id="formalta" action="/random"> -->
		<table>
			<tr>
				<td>Ir a esto hacia otra cosa que no me acuerdo</td>
				<td><a href="/random1"><button class="btn btn-default" id="btnLaOtraCosa">Go</button></a></td>
			</tr>
			<tr>
				<td>Ir a traer tabla "Emple" (Legajo) desde Server a Mysql Local:</td>
				<td><a href="/random2"><button class="btn btn-default" id="btnEmpleSvrtoMysqlLocal">Go!</button></a></td>
			</tr>
			<tr>
				<td>Actualizar tabla emple con tablas empleadoscsv y la del sql 'legajo'</td>
				<td><a href="/random3"><button class="btn btn-default">GO!</button></a></td>
			</tr>
			<tr>
				<td>Actualizar tabla items con tablas itemscsv y sectores, lugares y umeds</td>
				<td><a href="/random4"><button class="btn btn-default">GO!</button></a></td>
			</tr>
			<tr>
				<td>Traer tarjetas del sql</td>
				<td><a href="/random5"><button class="btn btn-default">GO!</button></a></td>
			</tr>
			<tr>
				<td>Actualizar tarjetas de Emple con las que traje del sql</td>
				<td><a href="/random6"><button class="btn btn-danger">GO!</button></a></td>
			</tr>
		</table>
	<!-- </form> -->
</div>
<script src="/js/jquery.min.js"></script>
<script type="text/javascript">
</script>
{% endblock %}