{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<link href="/css/relojesmodificar.css" rel="stylesheet">	
<h2>{{ pagename }}</h2>
<div class="panel panel-default">
	<form method="POST" action="/relojesmodificar">
		<table align="center" class="table table-striped">
			<tr>
				<td>ID:</td>
				<td><input type="text" readonly name="id" id="id" class="form-control" value="{{ reloj.id }}"></td>
			</tr>
			<tr>
				<td>Numero: </td>
				<td><input type="text" id="numero" name="numero" value="{{ reloj.numero }}" required class="form-control" onKeyPress="return soloNumeros(event)"><div class="aviso">Quedan <span id="charsLeftNumero"></span> caraceteres.</div></td>
			</tr>
			<tr>
				<td>Sector:</td>
				<td>
					<select name="sector" id="sector" class="form-control">
						{% for s in sectores %}
							{% if s.id == reloj.id_sector_fk %}
								<option value="{{ s.id }}" selected>{{ s.codigo }} - {{ s.nombre }}</option>
							{% else %}
								<option value="{{ s.id }}">{{ s.codigo }} - {{ s.nombre }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td>Descripcion:</td>
				<td><input type="text" id="descripcion" name="descripcion" value="{{ reloj.descripcion }}" required class="form-control"><div class="aviso">Quedan <span id="charsLeftDescripcion"></span> caraceteres.</div></td>
			</tr>	
			<tr>
				<td><input type="button" value="Atras" onclick="history.back()"></td>
				<td><input type="submit" value="Guardar"></td>
			</tr>
		</table>
	</form>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.limit-1.2.js"></script>
<script type="text/javascript">
	$('#descripcion').limit('30','#charsLeftDescripcion');
	$('#numero').limit('10','#charsLeftNumero');
	function soloNumeros(e){
		var key = window.Event ? e.which : e.keyCode
		return (key >= 48 && key <= 57)
	}
</script>
{% endblock %}