{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<link href="/css/cargosalta.css" rel="stylesheet">
<h2>{{ pagename }}</h2>
<p>Reporte de todos los empleados generado con informacion de los Partes Diarios recopilada desde el dia <label id="desde">{{ fechadesde }}</label> hasta el dia <label id="hasta">{{ fechahasta }}</label>.<br>
El reporte muestra la informacion de {{ cantidad }} empleados</p>
<div class="panel panel-default">
	<div class="panel-heading">
  	<!-- Table -->
		<table>
		<tr>	
			<td><button type="button" class="btn btn-primary" onclick="history.back()">Atras</button></a></td>
			<td><button type="button" id="btnSave" class="btn btn-default"><span class="glyphicon glyphicon-save"></span></button></td>
		</tr>	
		</table>
	</div>	
	<div id="mainHolder" style="overflow: scroll; max-height: 600px;">

		<table align="center" class="table table-striped">
			<tr>
				<th style="text-align: center;">LEGAJO</th>
				<th style="text-align: center;">NOMBRE</th>
				<th style="text-align: center;">SECTOR</th>
				<th style="text-align: center;">CAT.</th>
				<th style="text-align: center;">N N</th>
				<th style="text-align: center;">N 50</th>
				<th style="text-align: center;">N 100</th>
				<th style="text-align: center;">F T</th>
				<th style="text-align: center;">F No T</th>
				<th style="text-align: center;">CAL N</th>
				<th style="text-align: center;">CAL 50</th>
				<th style="text-align: center;">CAL 100</th>
				<th style="text-align: center;">CAL F</th>
				<th style="text-align: center;">PEL N</th>
				<th style="text-align: center;">PEL 50</th>
				<th style="text-align: center;">PEL 100</th>
				<th style="text-align: center;">PEL F</th>
				<th style="text-align: center;">POL N</th>
				<th style="text-align: center;">POL 50</th>
				<th style="text-align: center;">POL 100</th>
				<th style="text-align: center;">POL F</th>
				<th style="text-align: center;">TER N</th>
				<th style="text-align: center;">TER 50</th>
				<th style="text-align: center;">TER 100</th>
				<th style="text-align: center;">TER F</th>
				<th style="text-align: center;">INSA N</th>
				<th style="text-align: center;">INSA 50</th>
				<th style="text-align: center;">INSA 100</th>
				<th style="text-align: center;">INSA F</th>
				<th style="text-align: center;">NOC N</th>
				<th style="text-align: center;">NOC 100</th>
				<th style="text-align: center;">NOC F</th>
			<!-- <th colspan="3" style="text-align: center;">
				<table border="1" style="text-align: center; width: 100%;">
					<tr><td colspan="3" style="text-align: center;">Normales</td></tr>
					<tr>
						<td style="text-align: center;">N</td>
						<td style="text-align: center;">50</td>
						<td style="text-align: center;">100</td>
					</tr>
				</table>	
			</th>
			<th colspan="2" style="text-align: center;">
				<table border="1" style="text-align: center; width:100px;">
					<tr><td colspan="2" style="width:100px;">Feriados</td></tr>
					<tr>
						<td style="text-align: center;">Trab.</td>
						<td style="width: 80px; text-align: center;">No Trab.</td>
					</tr>
				</table>	
			</th>
			<th style="text-align: center;" colspan="4">
				<table border="1">
					<tr>
						<td colspan="4" style="text-align: center;">Calorias</td>
					</tr>
					<tr>
						<td style="text-align: center;">Norm.</td>
						<td style="text-align: center;">50</td>
						<td style="text-align: center;">100</td>
						<td style="text-align: center;">Fer.</td>
					</tr>
				</table>
			</th>
			<th style="text-align: center;" colspan="4">
				<table border="1">
					<tr>
						<td colspan="4" style="text-align: center;">Peligrosas</td>
					</tr>
					<tr>
						<td style="text-align: center;">Norm.</td>
						<td style="text-align: center;">50</td>
						<td style="text-align: center;">100</td>
						<td style="text-align: center;">Fer.</td>
					</tr>
				</table>
			</th>
			<th style="text-align: center;" colspan="4">
				<table border="1">
					<tr>
						<td colspan="4" style="text-align: center;">Polucion</td>
					</tr>
					<tr>	
						<td style="text-align: center;">Norm.</td>
						<td style="text-align: center;">50</td>
						<td style="text-align: center;">100</td>
						<td style="text-align: center;">Fer.</td>
					</tr>
				</table>
			</th>
			<th style="text-align: center;" colspan="4">
				<table border="1">
					<tr>	
						<td colspan="4" style="text-align: center;">Termo.</td>
					</tr>
					<tr>
						<td style="text-align: center;">Norm.</td>
						<td style="text-align: center;">50</td>
						<td style="text-align: center;">100</td>
						<td style="text-align: center;">Fer.</td>
					</tr>
				</table>
			</th>
			<th style="text-align: center;" colspan="4">
				<table border="1">
					<tr>	
						<td colspan="4" style="text-align: center;">Insalubres</td>
					</tr>
					<tr>
						<td style="text-align: center;">Norm.</td>
						<td style="text-align: center;">50</td>
						<td style="text-align: center;">100</td>
						<td style="text-align: center;">Fer.</td>
					</tr>
				</table>
			</th>
			<th style="text-align: center;" colspan="3">
				<table border="1">
					<tr>	
						<td colspan="3" style="text-align: center;">Nocturnas</td>
					</tr>
					<tr>
						<td style="text-align: center;">Norm.</td>
						<td style="text-align: center;">100</td>
						<td style="text-align: center;">Fer.</td>
					</tr>
				</table>
			</th> -->
				<th style="text-align: center;">HRS_EMER</th>
				<th style="text-align: center;">HRS_REC</th>
				<th style="text-align: center;">TURN.</th>
			</tr>
			{% for e in emples %}
				<tr>
					<td style="text-align: center;">{{ e.legajo }}</td>
					<td style="text-align: center;">{{ e.empletxt }}</td>
					<td style="text-align: center;">{{ e.sectortxt }}</td>
					<td style="text-align: center;">{{ e.categoriatxt }}</td>
					<td style="text-align: center;">{{ e.hrs_normales }}</td>
					<td style="text-align: center;">{{ e.hrs_al50 }}</td>
					<td style="text-align: center;">{{ e.hrs_al100 }}</td>
					<td style="text-align: center;">{{ e.hrs_feriado_trabajado }}</td>
					<td style="text-align: center;">{{ e.hrs_feriado_no_trabajado }}</td>
					<td style="text-align: center;">{{ e.calorias_n }}</td>
					<td style="text-align: center;">{{ e.calorias_50 }}</td>
					<td style="text-align: center;">{{ e.calorias_100 }}</td>
					<td style="text-align: center;">{{ e.calorias_fer }}</td>
					<td style="text-align: center;">{{ e.peligrosas_n }}</td>
					<td style="text-align: center;">{{ e.peligrosas_50 }}</td>
					<td style="text-align: center;">{{ e.peligrosas_100 }}</td>
					<td style="text-align: center;">{{ e.peligrosas_fer }}</td>
					<td style="text-align: center;">{{ e.polucion_n }}</td>
					<td style="text-align: center;">{{ e.polucion_50 }}</td>
					<td style="text-align: center;">{{ e.polucion_100 }}</td>
					<td style="text-align: center;">{{ e.polucion_fer }}</td>
					<td style="text-align: center;">{{ e.termo_n }}</td>
					<td style="text-align: center;">{{ e.termo_50 }}</td>
					<td style="text-align: center;">{{ e.termo_100 }}</td>
					<td style="text-align: center;">{{ e.termo_fer }}</td>
					<td style="text-align: center;">{{ e.insalubres_n }}</td>
					<td style="text-align: center;">{{ e.insalubres_50 }}</td>
					<td style="text-align: center;">{{ e.insalubres_100 }}</td>
					<td style="text-align: center;">{{ e.insalubres_fer }}</td>
					<td style="text-align: center;">{{ e.hrs_nocturnas_normales }}</td>				
					<td style="text-align: center;">{{ e.hrs_nocturnas_100 }}</td>
					<td style="text-align: center;">{{ e.hrs_nocturnas_feriado }}
					<td style="text-align: center;">{{ e.emergencias }}</td>
					<td style="text-align: center;">{{ e.hrs_reconocimiento }}</td>
					<td style="text-align: center;">{{ e.turnicidad }}</td>
						<!-- <label id="lblTotal{{i.itemnum}}"><input hidden class="total" data-itemnum="{{i.itemnum}}" id="total{{i.itemnum}}" value="{{ i.normal + i.Al50 + i.Al100 }}"> -->
				</tr>
			{% endfor %}
		</table>
	</div>
</div>
<script src="/js/jquery.min.js"></script>
<script type="text/javascript">
	// $(function() {
	//     $(".total").each(function (indice, element){
	//     	itemnum = $(element).data("itemnum");
	//     	tot = element.value;
	//     	total1decimal = parseFloat(tot).toFixed(1);
	//     	$("#lblTotal"+itemnum).text(total1decimal);
	//     });
	// });
	function changeDate(date){
		// input: dd/mm/yyyy
		fechaus = date.substring(6,10) + "/" + date.substring(3,5) + "/" + date.substring(0,2);
		return fechaus;
		// output: yyyy/mm/dd
	}

	$("#btnSave").click(function (){
		//fechas
		desde = $("#desde").text();
		hasta = $("#hasta").text();
		
		desde = changeDate(desde);
		hasta = changeDate(hasta);

		desde = encodeURIComponent(desde);
		hasta = encodeURIComponent(hasta);
		var url = "/emplesexport/"+desde+"/"+hasta;
		window.location = url;
	});
</script>

{% endblock %}