{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<link href="/css/reportesinicio.css" rel="stylesheet">
<h2>{{ pagename }}</h2>
<div class="panel panel-default">
	<form method="post" id="formalta" action="/reportesinicio">
		<table align="center" class="table table-striped">
			<tr>
				<td>Reporte para:</td>
				<td>	
					<select class="form-control" id="tiporeporte" name="tiporeporte">
						<option value="1">Items</option>
						<option value="2">Empleados</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>Desde:</td>
				<td><input class="form-control datepicker" id="fechadesde" name="fechadesde" readonly></td>
			</tr>
			<tr>
				<td>Hasta:</td>
				<td><input class="form-control datepicker" id="fechahasta" name="fechahasta" readonly></td>
			</tr>
			<tr>
				<td><input type="button" value="Atras" onclick="history.back()"></td>
				<td><input type="submit" value="Generar"></td>
			</tr>
		</table>
	</form>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>
<script src="/js/jquery.limit-1.2.js"></script>
<script type="text/javascript">
	$(".datepicker").datepicker({
		format: 'dd/mm/yyyy',
		autoclose: true,
		language: 'es'
	});

	var currentTime = new Date();
	var month = currentTime.getMonth() + 1;
	var day = currentTime.getDate();
	var year = currentTime.getFullYear()
	if (month<10){
		month = "0" + month
	}
	if (day<10){
		day = "0" + day
	}
	fechahoy = day+'/'+month+'/'+year;
	fecha1demes = '01/'+month+'/'+year;

	$("#fechadesde").val(fecha1demes);
	$("#fechahasta").val(fechahoy);
</script>
{% endblock %}