{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<link href="/css/repuestosalta.css" rel="stylesheet">
<h2>{{ pagename }}</h2>
<div class="panel panel-default">
	<form method="post" id="formalta" action="/repuestosalta">
		<table align="center" class="table table-striped">
			<tr>
				<td>Rubro:</td>
				<td>
					<select class="form-control" id="rubro" name="rubro">
						{% for r in rubros %}
							<option value="{{ r.id }}" data-codigo="{{ r.codigo }}" data-id="{{ r.id }}">{{ r.codigo }} - {{ r.nombre }}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td>Codigo:</td>
				<td>
					<table>
						<tr>	
							<td style="width: 90px;"><input type="text" id="codigo1" name="codigo1" readonly class="form-control" style="width:60px;"></td>
							<td><input type="text" id="codigo2" name="codigo2" required class="form-control" onKeyPress="return soloNumeros(event)"></td>
							<td><div class="aviso">Quedan <span id="charsLeftCodigo"></span> caraceteres.</div></td>
						</tr>
					</table>
					
				</td>
			</tr>
			<tr>
				<td>Nombre:</td>
				<td><input type="text" id="nombre" name="nombre" required class="form-control"><div class="aviso">Quedan <span id="charsLeftNombre"></span> caraceteres.</div></td>
			</tr>
			<tr>
				<td>Descripcion:</td>
				<td><input type="text" id="descripcion" name="descripcion" required class="form-control"><div class="aviso">Quedan <span id="charsLeftDescripcion"></span> caraceteres.</div></td>
			</tr>
			<tr>
				<td>Valor:</td>
				<td><input type="text" id="valor" name="valor" required class="form-control"><div class="aviso">Quedan <span id="charsLeftValor"></span> caraceteres.</div></td>
			</tr>
			<tr>
				<td>Stock:</td>
				<td><input type="text" id="stock" name="stock" required class="form-control"><div class="aviso">Quedan <span id="charsLeftStock"></span> caraceteres.</div></td>
			</tr>
			<tr>
				<td>Minimo:</td>
				<td><input type="text" id="minimo" name="minimo" required class="form-control"><div class="aviso">Quedan <span id="charsLeftMinimo"></span> caraceteres.</div></td>
			</tr>
			<tr>
				<td>Punto Pedido:</td>
				<td><input type="text" id="puntopedido" name="puntopedido" required class="form-control"><div class="aviso">Quedan <span id="charsLeftPuntoPedido"></span> caraceteres.</div></td>
			</tr>

			<tr>
				<td>Maximo:</td>
				<td><input type="text" id="maximo" name="maximo" required class="form-control"><div class="aviso">Quedan <span id="charsLeftMaximo"></span> caraceteres.</div></td>
			</tr>
			<tr>
				<td colspan="2">
					<table style="width: 100%;">
						<tr style="width: 100%;">
							<td style="width: 33%;text-align: center;">
								Calle
							</td>
							<td style="width: 33%;text-align: center;">
								Modulo
							</td>
							<td style="width: 33%;text-align: center;">
								Estante
							</td>
						</tr>
						<tr style="width: 100%;">
							<td style="width: 33%;">
								<center><input type="text" id="calle" name="calle" required class="form-control" style="width: 80%;"></center><div class="aviso" style="text-align: center;">Quedan <span id="charsLeftCalle"></span> caraceteres.</div>
							</td>
							<td style="width: 33%;">
								<center><input type="text" id="modulo" name="modulo" required class="form-control" style="width: 80%;"></center><div class="aviso" style="text-align: center;">Quedan <span id="charsLeftModulo"></span> caraceteres.</div>
							</td>
							<td style="width: 33%;">
								<center><input type="text" id="estante" name="estante" required class="form-control" style="width: 80%;"></center><div class="aviso" style="text-align: center;">Quedan <span id="charsLeftEstante"></span> caraceteres.</div>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>Marca:</td>
				<td><input type="checkbox" name="marca" id="marca"></td>
			</tr>
			<tr>
				<td>Coche:</td>
				<td><input type="text" id="coche" name="coche" required class="form-control"><div class="aviso">Quedan <span id="charsLeftCoche"></span> caraceteres.</div></td>
			</tr>
			<tr>
				<td>Observaciones:</td>
				<td><input type="text" id="observaciones" name="observaciones" required class="form-control"><div class="aviso">Quedan <span id="charsLeftObservaciones"></span> caraceteres.</div></td>
			</tr>
			<tr>
				<td><input type="button" value="Atras" onclick="history.back()"></td>
				<td><input type="submit" value="Agregar"></td>
			</tr>
		</table>
	</form>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.limit-1.2.js"></script>
<script type="text/javascript">
	$('#codigo2').limit('4','#charsLeftCodigo');
	$('#nombre').limit('45','#charsLeftNombre');
	$('#descripcion').limit('500','#charsLeftDescripcion');
	$('#valor').limit('10','#charsLeftValor');
	$('#stock').limit('10','#charsLeftStock');
	$('#minimo').limit('10','#charsLeftMinimo');
	$('#puntopedido').limit('5','#charsLeftPuntoPedido');
	$('#maximo').limit('10','#charsLeftMaximo');
	$('#calle').limit('1','#charsLeftCalle');
	$('#modulo').limit('2','#charsLeftModulo');
	$('#estante').limit('8','#charsLeftEstante');
	$('#coche').limit('3','#charsLeftCoche');
	$('#observaciones').limit('50','#charsLeftObservaciones');
	$(function() {
		var codigo = $(this).find(':selected').data('codigo')
   		// $("#codigo1").val(codigo+'.');
   		var id = $(this).find(':selected').data('id');
   		$.getJSON("/getCantRepuestosEnRubro/"+id, function (CantRep){
			cant = CantRep[0].cant;
			cant = cant+1;
			$("#codigo1").val(codigo+'.');
			var codigo2 = '001';
			if (cant < 10){
				codigo2 = '00'+cant;
			}else if (cant > 9){
				codigo2 = '0'+cant;
			} else{
				codigo2 = cant;
			}
			$("#codigo2").val(codigo2);
		});

   		$("#rubro").on("change", function (){
   			var codigo = $(this).find(':selected').data('codigo');
   			var id = $(this).find(':selected').data('id');
   			$.getJSON("/getCantRepuestosEnRubro/"+id, function (CantRep){
   				cant = CantRep[0].cant;
   				cant = cant+1;
   				$("#codigo1").val(codigo+'.');
   				var codigo2 = '001';
   				if (cant < 10){
   					codigo2 = '00'+cant;
   				}else if (cant > 9){
   					codigo2 = '0'+cant;
   				} else{
   					codigo2 = cant;
   				}
   				$("#codigo2").val(codigo2);
   			});
   			
   		})			   
	});
</script>

{% endblock %}