{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}

<h2>{{ emple.legajo }} - {{ emple.nombre }} - {{ emple.sectortxt }}</h2>
<input hidden id="desde" value="{{desde}}">
<input hidden id="hasta" value="{{hasta}}">
<input hidden id="id_sector" value="{{id_sector}}">
<input hidden id="id_emple" value="{{id_emple}}">
	<div class="panel panel-default">
	  	<div class="panel-heading">
	  		<table>
				<tr>	
					<td><button type="button" class="btn btn-primary" onclick="history.back()">Atras</button></a></td>
					<td><button type="button" id="btnSave" class="btn btn-default"><span class="glyphicon glyphicon-save"></span></button></td>
					<td><button type="button" id="btnSiguiente" class="btn btn-default">Siguiente</button></td>
				</tr>	
			</table>
	  	</div>
	  	<div id="mainHolder" style="overflow: scroll;">
		  	<table class="table">
		  		<tr>
					<th>Fecha</th>
					<th>Dia</th>
					<th>Codigo</th>
					<th>Hrs Normal</th>
					<th>Hrs 50</th>
					<th>Hrs 100</th>					
					<th>CAL Norm.</th>
					<th>CAL 50</th>
					<th>CAL 100</th>
					<th>CAL F</th>
					<th>INSA Norm.</th>
					<th>INSA 50</th>
					<th>INSA 100</th>
					<th>INSA F.</th>
					<th>PEL Norm.</th>
					<th>PEL 50</th>
					<th>PEL 100</th>
					<th>PEL F</th>
					<th>POL Norm.</th>
					<th>POL F</th>
					<th>TERMO Norm.</th>
					<th>TERMO F</th>
					<th>NOC Norm.</th>
					<th>NOC 100.</th>
					<th>NOC F</th>
					<th>Aus.</th>
					<th>Capac.</th>
					<th>Cit. Jud.</th>
					<th>Comp.</th>
					<th>Don. Sang.</th>
					<th>Emer.</th>
					<th>Enf.</th>
					<th>Ex. Med.</th>
					<th>Fam. Enf.</th>
					<th>Hrs Rec.</th>
					<th>Fer. Trab.</th>
					<th>Fer. No_Trab.</th>
					<th>Hrs Rec. Diag.</th>	
					<th>Lic. Acc.</th>
					<th>Lic. Ex.</th>
					<th>Lic. Fall.</th>
					<th>Lic. Inun.</th>
					<th>Lic. Mat.</th>
					<th>Lic. Mud.</th>
					<th>Lic. Nac.</th>					
					<th>Perm. Grem.</th>					
					<th>Turn.</th>
				</tr>
		  		{% for d in diasporempleado %}
		  			<tr>
						<td>{{d.fechaf}}</td>
						<td>{{d.dia}}</td>
						<td><center>{% if d.codigohoratxt != null %}{{d.codigohoratxt}}{% else %}---{% endif %}</center></td>
						<td>{{d.Normal}}</td>
						<td>{{d.Al50}}</td>
						<td>{{d.Al100}}</td>
						<td>{{d.calorias_n}}</td>						
						<td>{{d.calorias_50}}</td>
						<td>{{d.calorias_100}}</td>
						<td>{{d.calorias_fer}}</td>
						<td>{{d.insalubres_n}}</td>
						<td>{{d.insalubres_50}}</td>
						<td>{{d.insalubres_100}}</td>
						<td>{{d.insalubres_fer}}</td>
						<td>{{d.peligrosas_n}}</td>
						<td>{{d.peligrosas_50}}</td>
						<td>{{d.peligrosas_100}}</td>
						<td>{{d.peligrosas_fer}}</td>
						<td>{{d.polucion_n}}</td>
						<td>{{d.polucion_fer}}</td>
						<td>{{d.termo_n}}</td>
						<td>{{d.termo_fer}}</td>
						<td>{{d.hrs_nocturnas_normales}}</td>
						<td>{{d.hrs_nocturnas_100}}</td>
						<td>{{d.hrs_nocturnas_feriado}}</td>
						<td>{{d.ausentismo}}</td>
						<td>{{d.capacitacion}}</td>
						<td>{{d.citacion_judicial}}</td>
						<td>{{d.compensatorio}}</td>
						<td>{{d.donacion_sangre}}</td>
						<td>{{d.emergencias}}</td>
						<td>{{d.enfermedad}}</td>
						<td>{{d.examen_medico}}</td>
						<td>{{d.familiar_enfermo}}</td>
						<td>{{d.horas_reconocimiento}}</td>
						<td>{{d.hrs_feriado_trabajado}}</td>
						<td>{{d.hrs_feriado_no_trabajado}}</td>												
						<td>{{d.hrs_reconocimiento_diagrama}}</td>	
						<td>{{d.lic_accidente}}</td>
						<td>{{d.lic_examen}}</td>
						<td>{{d.lic_fallecimiento}}</td>
						<td>{{d.lic_inundacion}}</td>
						<td>{{d.lic_matrimonio}}</td>
						<td>{{d.lic_mudanza}}</td>
						<td>{{d.lic_nacimiento}}</td>						
						<td>{{d.permiso_gremial}}</td>	
						<td>{{d.turnicidad}}</td>
					</tr>
		  		{% endfor %}
		  		<tr>
		  			<td colspan="3" style="text-align: right;"><B>Totales:</b></td>
		  			<td>{{sumatorias.sum_Normal}}</td>
					<td>{{sumatorias.sum_Al50}}</td>
					<td>{{sumatorias.sum_Al100}}</td>
					<td>{{sumatorias.sum_Cal_Normal}}</td>						
					<td>{{sumatorias.sum_Cal_50}}</td>
					<td>{{sumatorias.sum_Cal_100}}</td>
					<td>{{sumatorias.sum_Cal_Feriado}}</td>
					<td>{{sumatorias.sum_Insa_Normal}}</td>
					<td>{{sumatorias.sum_Insa_50}}</td>
					<td>{{sumatorias.sum_Insa_100}}</td>
					<td>{{sumatorias.sum_Insa_Feriado}}</td>
					<td>{{sumatorias.sum_Pel_Normal}}</td>
					<td>{{sumatorias.sum_Pel_50}}</td>
					<td>{{sumatorias.sum_Pel_100}}</td>
					<td>{{sumatorias.sum_Pel_Feriado}}</td>
					<td>{{sumatorias.sum_Pol_Normal}}</td>
					<td>{{sumatorias.sum_Pol_Feriado}}</td>
					<td>{{sumatorias.sum_Termo_Normal}}</td>
					<td>{{sumatorias.sum_Termo_Feriado}}</td>
					<td>{{sumatorias.sum_Noc_N}}</td>
					<td>{{sumatorias.sum_Noc_100}}</td>
					<td>{{sumatorias.sum_Noc_f}}</td>
					<td>{{sumatorias.sum_ausentismo}}</td>
					<td>{{sumatorias.sum_capacitacion}}</td>
					<td>{{sumatorias.sum_citacion_judicial}}</td>
					<td>{{sumatorias.sum_compensatorio}}</td>
					<td>{{sumatorias.sum_donacion_sangre}}</td>
					<td>{{sumatorias.sum_emergencias}}</td>
					<td>{{sumatorias.sum_enfermedad}}</td>
					<td>{{sumatorias.sum_examen_medico}}</td>
					<td>{{sumatorias.sum_familiar_enfermo}}</td>
					<td>{{sumatorias.sum_horas_reconocimiento}}</td>
					<td>{{sumatorias.sum_FerTrab}}</td>
					<td>{{sumatorias.sum_FerNoTrab}}</td>												
					<td>{{sumatorias.sum_Hrs_Rec_por_Diag}}</td>	
					<td>{{sumatorias.sum_lic_accidente}}</td>
					<td>{{sumatorias.sum_lic_examen}}</td>
					<td>{{sumatorias.sum_lic_fallecimiento}}</td>
					<td>{{sumatorias.sum_lic_inundacion}}</td>
					<td>{{sumatorias.sum_lic_matrimonio}}</td>
					<td>{{sumatorias.sum_lic_mudanza}}</td>
					<td>{{sumatorias.sum_lic_nacimiento}}</td>						
					<td>{{sumatorias.sum_permiso_gremial}}</td>	
					<td>{{sumatorias.sum_turnicidad}}</td>
		  		</tr>
		  	</table>
		</div>
	</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>
<script src="/js/jquery.limit-1.2.js"></script>
<!-- <script type="text/javascript" src="/js/mustache.js"></script>
<script type="text/javascript" src="/js/mustache-wax.js"></script> -->
<script type="text/javascript">
$("#btnSave").on("click", function(){
	var id_emple = $("#id_emple").val();
	var desde = $("#desde").val();
	//desde = changeDate(desde);	   
    desde = encodeURIComponent(desde);
	var hasta = $("#hasta").val();
	//hasta = changeDate(hasta);
    hasta = encodeURIComponent(hasta);
	window.location="/resumendownload/"+id_emple+"/"+desde+"/"+hasta;
});
</script>
{% endblock %}