{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<link href="/css/sectoresalta.css" rel="stylesheet">
<h2>{{ pagename }}</h2>
	<form method="post" id="formalta" action="/sectoresalta">
		<table align="center" class="table table-striped">
			<tr>
				<td>Codigo:</td>
				<td><input type="text" id="codigo" name="codigo" required onkeyup="checkInput(this)" value="{{ ultimocodigo }}"></td>
			</tr>
			<tr>
				<td>Nombre:</td>
				<td><input type="text" id="nombre" name="nombre" required ></td>
			</tr>
			<tr>
				<td><input type="button" value="Atras" onclick="history.back()"></td>
				<td><input type="submit" value="Agregar"></td>
			</tr>
		</table>
		 <br>
		 <br>
	</form>
<script src="/js/jquery.min.js"></script>
<script type="text/javascript">
	$("#formalta").validate();
	function checkInput(ob) {
	  	var invalidChars = /[^0-9]/gi
	  	if(invalidChars.test(ob.value)) {
	        ob.value = ob.value.replace(invalidChars,"");
	    }
	}
</script>

{% endblock %}