{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<h2>{{ pagename }}</h2>
<div class="panel panel-default">
  <!-- Default panel contents -->
  	<div class="panel-heading">
  	<!-- Table -->
		<table>
		<tr>	
			<td><button type="button" class="btn btn-primary" onclick="history.back();">Atras</button></td>
			<td><input type="text" class="datepicker form-control" name="fecha" id="fecha" readonly></td>
			<td>
				<select class="form-control" name="tanque" id="tanque">
					{% for t in tanques %}
						<option value="{{ t.id }}">{{ t.nombre }}</option>
					{% endfor %}
				</select>
			</td>
			<td><button type="button" class="btn btn-success" id="consultar" name="consultar">Consultar</button></td>
			<td><button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Ayuda</button></td>
		</tr>	
		</table>
	</div>
	<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title" id="myModalLabel">{{ ayuda.titulo }}</h4>
		      </div>
		      <div class="modal-body">
		        {{ ayuda.texto }}
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
		      </div>
		    </div>
		  </div>
		</div>
	<!-- Fin Modal -->
	<div class="row">
		<div class="col-xs-12">
			<table class="table table-striped">
		  		<thead>
		  			<tr> 
						<th>Stock</th>
					</tr>
		  		</thead>
		  		<tbody id="tbodylisto">
		
				</tbody>
				<script type="text/template" id="tablap"/>
					[[#.]]
						<tr>
							<td>Gasoil Gastado: [[gasoil_gastado]]</td>
						</tr>
						<tr>
							<td>Gasoil en Sisterna: [[gasoil_ensisterna]]</td>
						</tr>
						<tr>
							<td>Resta: <b>[[resta]]</b></td>
						</tr>
					[[/.]]						
				</script>
			</table>				
		</div><!--div col xs12 -->
	</div><!--div row -->
</div>
<script src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/mustache.js"></script>
<script type="text/javascript" src="/js/mustache-wax.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>
<script type="text/javascript">
	$(".datepicker").datepicker({
		format: 'dd/mm/yyyy',
		autoclose: true,
		language: 'es'		
	});

	function changeDate(date){
		// input: dd/mm/yyyy
		fechaus = date.substring(6,10) + "/" + date.substring(3,5) + "/" + date.substring(0,2);
		return fechaus;
		// output: yyyy/mm/dd
	}

	$(function() {
		var myDate = new Date(); 
		myDate.setFullYear(myDate.getFullYear());
		year = myDate.getFullYear();
		month = myDate.getMonth()+1;
		day = myDate.getDate();
		if (month<10)
			month = "0"+month;
		if (day<10)
			day = "0"+day;
		myDate =  day +"/"+month+"/"+year;
		$("#fecha").val(myDate);
	});

	$("#consultar").on("click", function (){
		var fecha = $("#fecha").val();
		// console.log("1111 ");
		// console.log(fecha);
		fecha2 = changeDate(fecha);
		var id_tanque = $("#tanque").val();
		// console.log("22222 "+fecha2);
		fechaf = encodeURIComponent(fecha2);

		// console.log("33333 "+fechaf);

		$.getJSON('/getstock/'+id_tanque+"/"+fechaf, function (data){
			// console.log(data)
			if (data != null){
				$('#tbodylisto > tr').remove();
				var template = $('#tablap').html();
				Mustache.tags =['[[',']]'];
				var html = Mustache.to_html(template, data);
				//console.log(html);
				$('#tbodylisto').html(html);
			}else{
				//hacer que aca muestre error de que no se encontro nada en la busqueda
			}
		});
	});	
</script>
{% endblock %}