{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<h2>{{ pagename }}</h2>
<div class="panel panel-default">
  <!-- Default panel contents -->
  	<div class="panel-heading">
  	<!-- Table -->
		<table>
		<tr>	
			<td><button type="button" class="btn btn-primary" onclick="history.back();">Atras</button></td>
			<td><a href="/tankalta"><button type="button" class="btn btn-success">Agregar Nuevo</button></a></td>
			<td><button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Ayuda</button></td>
			<td style="width:50px;"></td>
			<td>Desde:</td>
			<td><input type="text" class="datepicker form-control" name="desde" id="desde" style="width: 100px;" readonly></td>
			<td style="width:10px;"></td>
			<td>Hasta:</td>
			<td><input type="text" class="datepicker form-control" name="hasta" id="hasta" style="width: 100px;" readonly></td>
			<td style="width:5px;"></td>
			<td><button type="button" name="filtrar" id="filtrar" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button></td>
		</tr>	
		</table>
	</div>
	<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title" id="myModalLabel">{{ ayuda.titulo }}</h4>
		      </div>
		      <div class="modal-body">
		        {{ ayuda.texto }}
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
		      </div>
		    </div>
		  </div>
		</div>
	<!-- Fin Modal -->
	<div class="row">
		<div class="col-xs-12">
			<div id="mainHolder" style="overflow: scroll; max-height: 600px;">
				<table class="table table-striped">
			  		<thead>
			  			<tr> 
							<th>ID</th>
							<th>Fecha</th>
							<th>Proveedor</th>
							<th>Operario</th>
							<th>Litros</th>
							<th>Valor</th>
							<th>Tanque</th>
							<th colspan="2">Opciones</th>
						</tr>
			  		</thead>
			  		<tbody  id="tbodylisto">
			  			<!-- {% for t in tank %}
							<tr>
								<td>{{ t.id }}</td>
								<td>{{ t.fechaf }}</td>
								<td>{{ t.proveedor }}</td>
								<td>{{ t.operariotxt }}</td>
								<td>{{ t.litros }}</td>
								<td>{{ t.valor_litro }}</td>
								<td>{{ t.tanquetxt }}</td>
								<td><a href="/tankmodificar/{{ t.id }}"><button class="btn btn-warning">Modificar</button></a></td>
								<td><a href='/tankborrar/{{ t.id }}' onclick="if (!confirm('¿Seguro desea eliminar?')) return false;"><button type="button" class="btn btn-danger">Eliminar</button><a/></td>
							</tr>
						{% endfor %} -->
			  		</tbody>
			  		<script type="text/template" id="tablap"/>
						[[#.]]
							<tr>
								<td>[[ id ]]</td>
								<td>[[ fechaf ]]</td>
								<td>[[ proveedor ]]</td>
								<td>[[ operariotxt ]]</td>
								<td>[[ litros ]]</td>
								<td>[[ valor_litro ]]</td>
								<td>[[ tanquetxt ]]</td>
								<td><a href="/tankmodificar/[[ id ]]"><button class="btn btn-warning">Modificar</button></a></td>
								<td><a href='/tankborrar/[[ id ]]' onclick="if (!confirm('¿Seguro desea eliminar?')) return false;"><button type="button" class="btn btn-danger">Eliminar</button><a/></td>
							</tr>
						[[/.]]						
					</script>
				</table>
			</div>			
		</div><!--div col xs12 -->
	</div><!--div row -->
</div>
<script src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/mustache.js"></script>
<script type="text/javascript" src="/js/mustache-wax.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>
<script type="text/javascript">
	$(".datepicker").datepicker({
		format: 'dd/mm/yyyy',
		autoclose: true,
		language: 'es'
	});

	$(function() {
		var myDate = new Date(); 
		myDate.setFullYear(myDate.getFullYear());
		year = myDate.getFullYear();
		month = myDate.getMonth()+1;
		day = myDate.getDate();
		if (month<10)
			month = "0"+month;
		if (day<10)
			day = "0"+day;
		first = "01/"+month+"/"+year;
		today =  day +"/"+month+"/"+year;

		$("#desde").val(first);
		$("#hasta").val(today);
		//hacer el buscar para cuando inicia la pagina..
		var desde = $("#desde").val();
		var desde2 = changeDate(desde);
		var desdef = encodeURIComponent(desde2);

		var hasta = $("#hasta").val();
		var hasta2 = changeDate(hasta);
		var hastaf = encodeURIComponent(hasta2);

		$.getJSON('/gettankentrefechas/'+desdef+"/"+hastaf, function (data){
			// console.log(data)
			if (data != null){
				$('#tbodylisto > tr').remove();
				var template = $('#tablap').html();
				Mustache.tags =['[[',']]'];
				var html = Mustache.to_html(template, data);
				//console.log(html);
				$('#tbodylisto').html(html);
			}else{
				//hacer que aca muestre error de que no se encontro nada en la busqueda
			}
		});
	});

	$("#filtrar").on("click", function (){
		var desde = $("#desde").val();
		var desde2 = changeDate(desde);
		var desdef = encodeURIComponent(desde2);

		var hasta = $("#hasta").val();
		var hasta2 = changeDate(hasta);
		var hastaf = encodeURIComponent(hasta2);

		$.getJSON('/gettankentrefechas/'+desdef+"/"+hastaf, function (data){
			// console.log(data)
			if (data != null){
				$('#tbodylisto > tr').remove();
				var template = $('#tablap').html();
				Mustache.tags =['[[',']]'];
				var html = Mustache.to_html(template, data);
				//console.log(html);
				$('#tbodylisto').html(html);
			}else{
				//hacer que aca muestre error de que no se encontro nada en la busqueda
			}
		});
	});	
</script>
{% endblock %}