<html>
<head>
	<title>{{ pagename }}</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/jumbotron/jumbotron.css" rel="stylesheet">
</head>
<body>
<div class="container">
	<h2>{{ pagename }}</h2>
	<table>
		<tr>
			<td>Legajo</td>
			<td>Tarjeta</td>
			<td>Fecha</td>
			<td>Hora</td>
			<td>Entrada/Salida</td>
			<td>Reloj</td>
			<td>Origen</td>
			<td>Novedad</td>
			<td>Equipo</td>
		</tr>
		$.each(arreglo_json, function(k,v){
		<tr>
			<td>{{ r.legajo }}</td>
			<td>{{ r.tarjeta }}</td>
			<td>Fecha</td>
			<td>Hora</td>
			<td>Entrada/Salida</td>
			<td>Reloj</td>
			<td>Origen</td>
			<td>Novedad</td>
			<td>Equipo</td>
		</tr>
		{% endfor %}
	</table>
</div>
</body>
</html>