{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<link href="/css/tipoequipomodificar.css" rel="stylesheet">	
<h2>{{ pagename }}</h2>
<div class="panel panel-default">
	<form method="POST" action="/tipoequipomodificar">
		<table align="center" class="table table-striped">
			<tr>
				<td>Codigo: </td>
				<td><input type="text" id="id" name="id" value="{{ tipoequipo.id }}" readonly class="form-control"></td>
			</tr>	
			<tr>
				<td>Descripcion:</td>
				<td><input type="text" id="descripcion" name="descripcion" value="{{ tipoequipo.descripcion }}" required class="form-control"></td>
			</tr>	
			<tr>
				<td>Activo:</td>
				{% if tipoequipo.activa== 1 %}
					<td><input type="checkbox" name="activa" checked></td>
				{% else %}
					<td><input type="checkbox" name="activa"></td>
				{% endif %}	
			</tr>
			<tr>
				<td><input type="button" value="Atras" onclick="history.back()"></td>
				<td><input type="submit" value="Guardar"></td>
			</tr>
		</table>
	</form>
</div>
	<script src="/js/jquery.min.js"></script>
	<script type="text/javascript">
	</script>
{% endblock %}