{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<div class="ui basic segment">
    <h1 class="ui dividing blue header">{{ pagename }}</h1>
</div>  
<table class="ui celled striped table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <form class="ui form" id="formalta" method="post" action="/tipotractor/modificar">
                    <input hidden name="id" id="id" value="{{ tipotractor.id }}">
                    <div class="fields">
                        <div class="six wide field">
                            <label>Descripcion</label> 
                            <div class="field">
                                <input type="text" name="descripcion" id="descripcion" placeholder="Descripcion" value="{{ tipotractor.descripcion }}">
                            </div>
                        </div>
                        <div class="six wide field">
                            <label>Ejes</label>
                            <div class="field">
                                <input type="text" name="ejes" id="ejes" placeholder="Ejes" value="{{ tipotractor.ejes }}">
                            </div>
                        </div>
                        <div class="four wide center aligned field">
                            <label>Activo?</label>
                            <div class="ui toggle checkbox">
                                {% if tipotractor.activo == 1 %}
                                    <input type="checkbox" name="activo" id="activo" tabindex="0" class="hidden" checked>
                                {% else %}
                                    <input type="checkbox" name="activo" id="activo" tabindex="0" class="hidden">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <button class="ui basic submit button" tabindex="0" type="submit">Submit</button>
                </form>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}