{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<link href="/css/tipohoramodificar.css" rel="stylesheet">	
<h2>{{ pagename }}</h2>
Ej: Normal, 50%, 100%...
<div class="panel panel-default">
	<form method="POST" action="/tipohoramodificar">
		<table align="center" class="table table-striped">
			<tr>
				<td>ID:</td>
				<td><input type="text" readonly name="id" id="id" class="form-control" value="{{ tipohora.id }}"></td>
			</tr>
			<tr>
				<td>Codigo:</td>
				<td><input type="text" name="codigo" name="codigo" class="form-control" value="{{ tipohora.codigo }}" required><div class="aviso">Quedan <span id="charsLeftCodigo"></span> caraceteres.</div></td>
			</tr>
			<tr>
				<td>Nombre:</td>
				<td><input type="text" id="nombre" name="nombre" value="{{ tipohora.nombre }}" required class="form-control"><div class="aviso">Quedan <span id="charsLeftNombre"></span> caraceteres.</div></td>
			</tr>	
			<tr>
				<td><input type="button" value="Atras" onclick="history.back()"></td>
				<td><input type="submit" value="Guardar"></td>
			</tr>
		</table>
	</form>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.limit-1.2.js"></script>
<script type="text/javascript">
	$('#nombre').limit('30','#charsLeftNombre');
	$('#codigo').limit('2','#charsLeftCodigo');
</script>
{% endblock %}