{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<link href="/css/turnosalta.css" rel="stylesheet">
<h2>{{ pagename }}</h2>
<div class="panel panel-default">
	<form method="post" id="formalta" action="/turnosalta">
		<table align="center" class="table table-striped">
			<tr>
				<td>Codigo:</td>
				<td><input type="text" id="codigo" name="codigo" required class="form-control"><div class="aviso">Quedan <span id="charsLeftCodigo"></span> caraceteres.</div></td>
			</tr>
			<tr>
				<td>Sector:</td>
				<td>
					<select class="form-control" id="sector" name="sector">
						{% for s in sectores %}
							<option value="{{ s.id }}">{{ s.nombre }}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td><input type="button" value="Atras" onclick="history.back()"></td>
				<td><input type="submit" value="Agregar"></td>
			</tr>
		</table>
	</form>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.limit-1.2.js"></script>
<script type="text/javascript">
	$('#codigo').limit('4','#charsLeftCodigo');
</script>

{% endblock %}