{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<link href="/css/usuariosmodificar.css" rel="stylesheet">	
<h2>{{ pagename }}</h2>
<form method="POST" action="/usuariosmodificar">
		<table align="center" class="table table-striped">
			<tr>
				<td> ID: </td>
				<td><input type="text" name="id" value="{{ usuario.unica }}" readonly="readonly"></td>
			</tr>	
			<tr>
				<td>Usuario:</td>
				<td><input type="text" id="usuario" name="usuario" value="{{ usuario.usuario }}"> <div class="aviso">Quedan <span id="charsLeftUsuario"></span> caracteres.</div></td>
			</tr>
			<tr>
				<td>Clave:</td>
				<td><input type="text" id="clave" name="clave" value="{{ usuario.clave }}"><div class="aviso">Quedan <span id="charsLeftClave"></span> caracteres.</div></td>
			</tr>
			<tr>
				<td>E-Mail:</td>
				<td><input type="text" id="mail" name="mail" value="{{ usuario.mail }}"><div class="aviso">Quedan <span id="charsLeftMail"></span> caracteres.</div></td>
			</tr>
			<tr>
				<td>Niveles:</td>
				<td><input type="text" id="niveles" name="niveles" value="{{ usuario.niveles }}"><div class="aviso">Quedan <span id="charsLeftNiveles"></span> caracteres.</div></td>
			</tr>
			<tr>
				<td>Fecha de alta:</td>
				<td><input type="text" id="alta" name="alta" class="datepicker" readonly="readonly" value="{{ usuario.alta|date('d/m/Y') }}"></td>
			</tr>
			<tr>
				<td>Fecha de baja:</td>
				<td><input type="text" id="baja" name="baja" class="datepicker" readonly="readonly" value="{{ usuario.baja|date('d/m/Y') }}"></td>
			</tr>
			<tr>
				<td>Activo:</td>
				{% if usuario.activa == 1 %}
					<td><input type="checkbox" name="activa" checked></td>
				{% else %}
					<td><input type="checkbox" name="activa"></td>
				{% endif %}
			</tr>
			<tr>
				<td><input type="button" value="Atras" onclick="history.back()"></td>
				<td><input type="submit" value="Guardar"></td>
			</tr>
		</table>
		 <br>
		 <br>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>
<script src="/js/jquery.limit-1.2.js"></script>
<script type="text/javascript">
	$('.datepicker').datepicker()
	$('#usuario').limit('20','#charsLeftUsuario');
	$('#clave').limit('20','#charsLeftClave');
	$('#mail').limit('80','#charsLeftMail');
	$('#niveles').limit('200','#charsLeftNiveles');
</script>
{% endblock %}