{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<!-- <link href="/css/valesalta.css" rel="stylesheet"> -->
<h2>{{ pagename }}</h2>
	<form method="post" id="formalta" action="/valesalta">
		<table align="center" class="table table-striped">
			<tr>
				<td>Nro ID:</td>
				<td>{{ vale.Nroid }}</td>
			</tr>	
			<tr>
				<td>Tipo de Vale:</td>
				<td>{{ vale.tipovale }}</td>
			</tr>
			<tr>
				<td>Fecha:</td>
				<td>{{ vale.Fecha|date('d/m/Y') }}</td>
			</tr>
			<tr>
				<td>Articulo:</td>
				<td>{{ vale.nombrearticulo }}</td>
			</tr>
			<tr>
				<td>Cantidad:</td>
				<td>{{ vale.cantidad }}</td>
			</tr>
			<tr>
				<td>Deposito Origen:</td>
				<td>{{ vale.Dorigen }}</td>
			</tr>
			<tr>
				<td>Deposito Destino:</td>
				<td>{{ vale.Ddestino }}</td>
			</tr>
			<tr>
				<td>Sector Origen:</td>
				<td>{{ vale.sectorOr }}</td>
			</tr>
			<tr>
				<td>Sector Destino:</td>
				<td>{{ vale.sectorDe }}</td>
			</tr>
			<tr>
				<td>Costo Unitario:</td>
				<td>{{ vale.costou }}</td>
			</tr>
			<tr>
				<td>Costo Total:</td>
				<td>{{ vale.costot }}</td>
			</tr>	
			<tr>
				<td><input type="button" value="Atras" onclick="history.back()"></td>
			</tr>
		</table>

	</form>
<script src="/js/jquery.min.js"></script>
<script type="text/javascript">
	
</script>
{% endblock %}