{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<link href="/css/valesconsulta.css" rel="stylesheet">
<img src="/uploads/vale.png">
<h2>{{ pagename }}</h2>
<div class="panel panel-default">
  <!-- Default panel contents -->
  	<div class="panel-heading">
  	<!-- Table -->
		<table>
		<tr>
			<td>
				<a href="/inicio"> <button type="button" class="btn btn-primary">Atras</button></a>
				<a href="/valesalta"><button type="button" class="btn btn-success">Agregar Nuevo</button></a>
				<button type="button" id="btnAyuda" name="btnAyuda" class="btn btn-default" data-toggle="modal" data-target="#myModal">Ayuda</button>
			</td>
			<td>
				<button type="button" id="print" name="print" class="btn btn-primary" title="Imprimir Vales Seleccionados"><span class="glyphicon glyphicon-print" aria-hidden="true"></span></button>
			</td>
			<td>
				<table>
					<tr>
						<td>
				    		<select id="sector" name="sector" class="form-control">
				    			<!-- <option value="0">Sin Sector</option> -->
								{% for s in sectores %}
									<option value="{{ s.id }}">{{ s.nombre }}</option>
								{% endfor %}
							</select> 
						</td>
						<td>
							BUSCAR por fecha de vale: <input type="textbox" id="fechainicio" name="fechainicio" class="datepicker" placeholder="dd/mm/aaaa" readonly> al <input type="textbox" id="fechafin" name="fechafin" class="datepicker" placeholder="dd/mm/aaaa" readonly> <button class="btn btn-default" name="ok" ID="ok">OK</button>
				  		</td>
			  		</tr>
	      		</table>
      		</td>
		</tr>
		</table>
		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title" id="myModalLabel">{{ ayuda.titulo }}</h4>
		      </div>
		      <div class="modal-body">
		        {{ ayuda.texto }}
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
		      </div>
		    </div>
		  </div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div style="overflow: scroll;">
				<table id="tabla" class="table table-striped">
			  		<thead>
			  			<tr> 
			  				<th colspan="3">Opciones</th>
							<th>ID</th>
							<th>Tipo</th>
							<th><div style="width: 80px">Fecha Rto.</div></th>
							<th><div style="width: 150px">Articulo</div></th>
							<th><div style="width: 70px">Cantidad</div></th>
							<th><div style="width: 100px">Dep. Origen</div></th>
							<th><div style="width: 100px">Dep. Destino</div></th>
							<th><div style="width: 100px">Sect. Origen</div></th>
							<th><div style="width: 100px">Sect. Destino</div></th>							
						</tr>
			  		</thead>
			  		<tbody id="tbodyvalelisto">
			  			
			  		</tbody>
			  		<script type="text/template" id="tablavales">
		  				[[#.]]
		  				<tr>
		  					<td>
		  						<a href="valesver/[[Nroid]]" class="btn btn-default">Ver</a>
		  					</td>
		  					<td>
		  						<a href="valesborrar/[[Nroid]]" class="btn btn-danger" onclick="if (!confirm('¿Seguro desea eliminar?')) return false;">Borrar</a>
		  					</td>
		  					<td>
		  						<input type="checkbox" name="check[[Nroid]]" value="[[Nroid]]" data-date="[[ fechaf ]]">
		  					</td>
		  					<td>
		  						[[Nroid]]
		  					</td>
		  					<td>
		  						[[tipovale]]
		  					</td>
		  					<td>
		  						[[fechaf]]			  					
		  					</td>
		  					<td>
		  						[[nombrearticulo]]
		  					</td>
		  					<td>
		  						[[cantidad]]
		  					</td>
		  					<td>
		  						[[Dorigen]]
		  					</td>
		  					<td>
		  						[[Ddestino]]
		  					</td>
		  					<td>
		  						[[sectorOr]]
		  					</td>
		  					<td>
		  						[[sectorDe]]
		  					</td>
		  				</tr>	
		  				[[/.]]						
			  		</script>	
				</table>		
			</div>	  		
		</div><!--div col xs12 -->
	</div><!--div row -->
	<form method="post" id="form" action="/printselection" hidden>
		<input name="ids" id="ids" hidden>
	</form>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/js/mustache.js"></script>
<script type="text/javascript" src="/js/mustache-wax.js"></script>
<script type="text/javascript">
	$(function(){
		// Return today's date and time
		var currentTime = new Date()
		// returns the month (from 0 to 11)
		var month = currentTime.getMonth() + 1
		// returns the day of the month (from 1 to 31)
		var day = 1
		// returns the year (four digits)
		var year = currentTime.getFullYear()
		if (month<10){
			month = "0" + month
		}
		fechaI = '01/'+month+'/'+year;
		var fechaI  = encodeURIComponent(fechaI);

		var date = new Date();
		day = date.getDate();
		if (day<10)
			day = "0" + day;
		month = date.getMonth() +1;
		if (month<10)
			month = "0" + month;
		fechar =  day+ '/' + month + '/' +  date.getFullYear()

		var fechaF = encodeURIComponent(fechar)
		sector = $('#sector').val();
		$.getJSON('/buscarvales/'+ fechaI + '/' + fechaF + '/' + sector, function (data){
			$('#tbodyvalelisto > tr').remove();
			var template= $('#tablavales').html();
			Mustache.tags=['[[',']]'];
			var html = Mustache.to_html(template, data);
			//console.log(html);
			$('#tbodyvalelisto').html(html);
		});
	});

	$(".datepicker").datepicker({
		format: 'dd/mm/yyyy',
		language: 'es',
		autoclose: true
	});

	$("#ok").on("click", function() {
		var fechaI  = encodeURIComponent(document.getElementById('fechainicio').value);
		var fechaF = encodeURIComponent(document.getElementById('fechafin').value)
		sector = $('#sector').val();
		$.getJSON('/buscarvales/'+ fechaI + '/' + fechaF + '/' + sector, function (data){
			$('#tbodyvalelisto > tr').remove();
			var template= $('#tablavales').html();
			Mustache.tags=['[[',']]'];
			var html = Mustache.to_html(template, data);
			//console.log(html);
			$('#tbodyvalelisto').html(html);
		});
	});

	$("#print").on("click", function() {
		var bandera = false;
		var dates = new Array();
		$("input:checkbox:checked").each(function(){
			dates.push($(this).data());
		});
		if ( dates.length == 0 ){
			alert("No ha seleccionado ningun vale para imprimir.")
		}else{


			if (dates.length == 1){
				bandera = true;
			}else{
				if (dates.length == 2){
					if(dates[0].date == dates[1].date){
						bandera = true;
					}else{
						bandera = false;
					}
				}else{
					for (var i = 0; i<dates.length -1; i++){
						if(dates[i].date == dates[i+1].date){
							bandera = true;
						}else{
							bandera = false;
						}
					}
				}
			}
		}

		if (bandera == true){
			var checkedValues = new Array();
			$("input:checkbox:checked").each(function()
			{
			    checkedValues.push($(this).val())
			});

			$("#ids").val(checkedValues);
			$( "#form" ).submit();

		}else{
			alert("Las fechas de los vales a imprimir debe ser la misma.")
		}
		
	});
</script>
{% endblock %}