#cdfabrica{
	width: 40%;
}
#cdinterno{
	width: 40%;
}
#nombre{
	width: 90%;
}
#descripcion{
	width: 90%;
}
#familia{
	width: 40%;
}
#tipo{
	width: 40%;
}
#umed{
	width: 40%;
}
#costo{
	width: 40%;
}
#iva{
	width: 40%;
}
#stock1{
	width: 40%;
}
#stock2{
	width: 40%;
}
#stock3{
	width: 40%;
}
#stock4{
	width: 40%;
}
#minimo{
	width: 40%;
}
#maximo{
	width: 40%;
}
