#codigo, #falta, #fbaja, #legajo, #cuil, #fnac, #cp, #telefono{
	width: 40%;
<<<<<<< HEAD
}
=======
} 
>>>>>>> d740ea00d15541a0ff817668ea81d64a1aef6837
#nombre, #tarjeta, #cargo, #sector, #domicilio{
	width: 60%;
}

.aviso{
	font-size: 8px;
<<<<<<< HEAD
}
=======
}
>>>>>>> d740ea00d15541a0ff817668ea81d64a1aef6837
