<<<<<<< HEAD
#tarjeta, #nombre, #cargo, #sector, #domicilio{
	width: 60%;
}
#codigo, #legajo, #cp, #telefono, #falta, #fbaja, #cuil, #fnac{
	width: 40%;
=======
#codigo, #legajo, #cp, #telefono, #falta, #fbaja, #cuil, #fnac{
	width: 40%;
}
#tarjeta, #nombre, #cargo, #sector, #domicilio{
	width: 60%;
>>>>>>> d740ea00d15541a0ff817668ea81d64a1aef6837
}
.aviso{
	font-size: 8px;
}