#codigo{
	width:40%;
}
#dominio{
	width:40%;
}
#nombre{
	width:90%;
}
#marca{
	width:90%;
}
#tipomaquinaria{
	width:40%;
}
#modelo{
	width:40%;
}
#anio{
	width:40%;
}
#serie{
	width:90%;
}
#nmotor{
	width:90%;
}
#fcompra{
	width:40%;
}
#tipocontrol{
	width:40%;
}
#tipocomb{
	width:40%;
}
#titular{
	width:90%;
}
#datos{
	width: 90%;
}
#linkfab{
	width: 40%;
}