#codigo{
	width:60%;
}
#dominio{
	width:60%;
}
#nombre{
	width:60%;
}
#marca{
	width:60%;
}
#tipomaquinaria{
	width:60%;
}
#modelo{
	width:60%;
}
#anio{
	width:60%;
}
#serie{
	width:60%;
}
#nmotor{
	width:60%;
}
#fcompra{
	width:60%;
}
#tipocontrol{
	width:60%;
}
#tipocomb{
	width:60%;
}
#titular{
	width:60%;
}
#fbaja{
	width:60%;
}
#mbaja{
	width:60%;
}