#tipovale{
	width: 60%;
}

#nrovale{
	width: 60%;
}

#fecha{
	width: 60%;
}

#artid{
	width: 50px;
}

#articulo{
	width: 50%;
}

#codart{
	width: 150px;
}

#depor{
	width: 60%;
}

#depdes{
	width: 60%;
}

#cantidad{
	width: 60px;
}

#secor{
	width:60%;
}

#secdes{
	width: 60%;
}

#emple{
	width: 60%;
}